- providers.each do |provider|
  .span-16.last.letterbox.provider{:class => cycle("shaded", "")}[provider]
    -# provider name and email
    .span-6.prepend-1.name
      %h2.provider.name.bottom= provider.name
      %h4.provider.email
        - if provider.email_addresses_count > 0
          = provider.primary_email_address.address
        - else
          %span.field_missing== No email address

    -# allow company managers to toggle manager role
    .span-5
      .span-5.last.provider.manager
        - if has_privilege?('update users', current_company)
          - if current_user == provider
            -# 'me' is a company manager
            %h5{:style => 'margin-top: 3px;'}== You are a Company Manager
          - elsif provider.respond_to?(:has_privilege?)
            = check_box_tag 'Company Manager', 'yes', provider.has_privilege?('update users', current_company), :class => 'checkbox manager', :url => url_for(:controller => 'providers', :action => 'toggle_manager', :id => provider.id, :subdomain => current_subdomain)
            = label_tag '', 'Company Manager', :class => 'checkbox label'
            %span.checkbox.progress{:style => 'padding-left: 5px; display: none;'}= image_tag 'dots.gif'
          - else
            -# provider is a resource, which does not have roles
            == &nbsp;
      %br
      .span-5.last.capacity
        - if provider.capacity > 1
          == Default capacity: #{provider.capacity}
        - else
          -# we don't bother displaying capacity for providers if it's at the default of 1 - this is to reduce confusion
          == &nbsp;
          
    -# allow company managers to edit all providers, and provider to edit themself
    .span-2.prepend-2.action.last
      - if has_privilege?('update users', current_company) or has_privilege?('update users', provider)
        = link_to "Edit", user_edit_path(provider), :class => 'admin edit user'
      - if has_privilege?('manage site', current_company)
        %span{:style => 'padding-left: 3px;'}= link_to 'Sudo', user_sudo_path(provider), :class => 'admin sudo user'
