- if services.blank?
  .span-15.prepend-1.last
    %h3{:style => 'font-size: 2.0em;'}== No Services
    
  .span-15.prepend-1.last.description
    = render(:partial => 'services_newbie')
        
- services.each do |service|
  .span-16.last.letterbox.service{:class => cycle("shaded", "")}
    .span-9.prepend-1.last
      .span-9.last
        .span-6.name{:class => service.providers_count? ? '' : 'noproviders'}
          %h2.margin-bottom-0= service.name
        .span-3.last.duration
          %h3== #{Duration.to_words(service.duration)}
      .span-8.last
        - if service.providers_count > 0
          -# show all service providers
          == Service providers: 
          - providers = service.providers.collect { |r| r.name }.sort
          = providers.join(", ")
        - else
          %span.field_missing
            == No service providers
            %br
            == Use the 'edit' link to add service providers
    .span-3.price_and_capacity
      .span-3.last.price
        %h3= service.price
      .span-3.last.capacity
        - if service.capacity > 1
          == Capacity: #{service.capacity}
        - else
          -# we don't bother displaying capacity for providers if it's at the default of 1 - this is to reduce confusion
          == &nbsp;
    .span-3.last.action
      - if_privilege('update services', current_company) do
        = link_to "Edit", edit_service_path(service, :subdomain => current_subdomain), :class => 'admin'
      - if_privilege('delete services', current_company) do
        &nbsp;
        = link_to("Remove", service_path(service, :subdomain => current_subdomain), :class => 'admin ujs delete confirm', :question => "Are you sure you want to remove this service?")
