%table.services
  - services.each do |service|
    %tr{:id => "row_service_#{service.id}"}
      %td.service
        %h2= service.name
        -# show all resources for this service
        - resources = service.resources.collect { |r| r.name }.sort
        = resources.join(", ")
      %td.duration
        == #{service.duration} minutes
      %td.price
        = service.price
      %td.action
        = link_to "Edit", edit_service_path(service, :subdomain => @subdomain), :class => 'admin'
      %td.action
        = link_to("Remove", service_path(service, :subdomain => @subdomain), :class => 'admin ujs delete confirm', :question => "Are you sure you want to remove this service?")
        
