%table.services
  - services.each do |service|
    %tr{:id => "row_service_#{service.id}"}
      %td.service
        %h2= service.name
      %td.price
        = service.price
      %td.action
        = link_to "Schedule an appointment", service_openings_path(:subdomain => @subdomain, :service_id => service.id)
      %td.action
        = link_to "Edit", ""
