- if services.blank?
  .span-15.prepend-1.last
    %h3{:style => 'font-size: 2.0em;'}== No Services
    
  .span-15.prepend-1.last.description
    = render(:partial => 'services_newbie')
        
- services.each do |service|
  .span-16.last.letterbox.service{:class => cycle("shaded", "")}
    .span-6.prepend-1.name
      %h2.margin-bottom-0= service.name
      -# show all service providers
      - providers = service.schedulables.collect { |r| r.name }.sort
      = providers.join(", ")
    .span-3.duration
      %h3== #{Duration.to_words(service.duration)}
    .span-3.price
      %h3= service.price
    .span-3.last.action
      - if_privilege('update services', current_company) do
        = link_to "Edit", edit_service_path(service, :subdomain => current_subdomain), :class => 'admin'
      - if_privilege('delete services', current_company) do
        &nbsp;
        = link_to("Remove", service_path(service, :subdomain => current_subdomain), :class => 'admin ujs delete confirm', :question => "Are you sure you want to remove this service?")
