- stylesheet('services')
- javascript('services')

- form_for(Membership.new, :url => memberships_path(:subdomain => current_subdomain), :method => :post, :html => {:id => 'new_membership'}) do |f|
  = hidden_field_tag "membership[service_id]", @service.id, :id => 'membership_service_id'
  = hidden_field_tag "membership[resource_type]", 'Person', :id => 'membership_resource_type'
  = hidden_field_tag "membership[resource_id]", '', :id => 'membership_resource_id'
    
- form_for(@service, :url => service_path(@service, :subdomain => current_subdomain), :method => :post) do |f|

  .span-20.last.box
    = label_tag "service_name", "Service Name", :class => 'big'
    %br
    = text_field_tag "service[name]", @service.name, :class => 'title highlight muted'
  
  .span-10.prepend-1.last
    = display_flash(:error)
    
  .span-20.last
    .span-3.prepend-1
      %h2= label_tag "service_price", "Price"
    .span-16.last
      = text_field_tag "service[price]", @service.price, :class => 'text', :style => "width: 100px;"
  .span-20.last
    .span-3.prepend-1
      %h2= label_tag "service_duration", "Duration"
    .span-16.last
      = text_field_tag "service[duration]", @service.duration, :class => 'text blue muted', :style => "width: 100px;"
      %b{:style => 'font-size: 12px;'}== &nbsp;Minutes
  .span-20.prepend-4.last
    %em== An accurate duration will allow you to more efficiently schedule appointments
    
  %hr.space
  .span-20.prepend-1.last.submit
    = submit_tag "Save Changes"
    == or
    = link_to "Cancel", services_path(:subdomain => current_subdomain), :class => 'admin'
    
  %hr.space
  .span-20.prepend-1.last
    %h3
      == People who provide this service
  #memberships
    = render(:partial => 'memberships/memberships.html.haml', :locals => {:memberships => @memberships, :non_members => @non_members})
  %hr.space
  .span-20.prepend-1.last
    = button_to "Done", :url => services_path(:subdomain => current_subdomain)
              
