- stylesheet('services')
- javascript('services')

- form_for(Membership.new, :url => memberships_path, :method => :post, :html => {:id => 'new_membership'}) do |f|
  = hidden_field_tag "membership[service_id]", @service.id, :id => 'membership_service_id'
  = hidden_field_tag "membership[resource_type]", 'Person', :id => 'membership_resource_type'
  = hidden_field_tag "membership[resource_id]", '', :id => 'membership_resource_id'
    
- form_for(@service, :url => service_path(@service), :method => :post) do |f|

  .span-20.last.box
    = label_tag "service_name", "Service Name", :class => 'big'
    %br
    = text_field_tag "service[name]", @service.name, :class => 'title highlight muted'
      
  .span-20.last
    .span-4.prepend-1
      = label_tag "service_price", "Price"
      %br
      = text_field_tag "service[price]", @service.price, :class => 'text', :style => "width: 100px;"
    .span-4.prepend-1.last
      = label_tag "service_duration", "Duration (minutes)"
      %br
      = text_field_tag "service[duration]", @service.duration, :class => 'text blue muted', :style => "width: 100px;"
    
  %hr.space
  .span-20.prepend-1.last.submit
    = submit_tag "Save Changes"
    == or
    = link_to "Cancel", services_path, :class => 'admin'
    
  %hr.space
  .span-20.prepend-1.last
    %h3
      == People who provide this service
  #memberships
    = render(:partial => 'memberships/memberships.html.haml', :locals => {:memberships => @memberships, :non_members => @non_members})
  %hr.space
  .span-20.prepend-1.last
    = button_to "Done", :url => services_path
              
