- title('Edit Service')
- stylesheet('services')
- javascript('services')

= render(:partial => 'service_form', :locals => {:service => @service, :action => 'Save Changes', :title => 'Edit Service', :submit_url => service_path(@service, :subdomain => current_subdomain)})


- form_for(ServiceProvider.new, :url => service_providers_path(:subdomain => current_subdomain), :method => :post, :html => {:id => 'new_service_provider'}) do |f|
  = hidden_field_tag "service_provider[service_id]", @service.id, :id => 'service_provider_service_id'
  = hidden_field_tag "service_provider[provider_type]", '', :id => 'service_provider_provider_type'
  = hidden_field_tag "service_provider[provider_id]", '', :id => 'service_provider_provider_id'
      
  %hr.space
  
  .span-23.prepend-1.last.padding-top-10
    %h3.bold== People who provide this service
  #service_providers
    = render(:partial => 'service_providers/service_providers.html.haml', :locals => {:service_providers => @service_providers, :non_providers => @non_providers})
    
  %hr.space
  
  .span-20.prepend-1.last
    = link_to 'Done', services_path(:subdomain => current_subdomain), :class => 'rounded button', :style => 'padding: 3px 7px;'
  -#= button_to "Done", :url => services_path(:subdomain => current_subdomain)
              
