- stylesheet('services')
- javascript('services')

.span-16
  .span-15.last.box
    %h2== Services
  %hr.space
  .span-14.prepend-1.append-1.last
    .highlight#flash
  #services
    = render(:partial => 'services.html.haml', :locals => {:services => @services})
    
.span-6.prepend-1.last
  .span-6.box
    - form_for(Service.new, :url => services_path(:subdomain => @subdomain), :method => :post, :html => {:class => 'new_service'}) do |f|
      = hidden_field_tag "service[mark_as]", 'work'
      = hidden_field_tag "service[price]", 0
      = hidden_field_tag "service[duration]", 0
      .span-6.last
        = label_tag "new_service_name", "Add a service", :class => 'big'
      .span-6.last
        = text_field_tag "service[name]", '', :id => 'new_service_name', :class => 'title big required', :style => 'width: 200px;'
      .span-6.last
        %em{:style => "color: #666666; font-size: 12px;"}== Examples: Hair Color, Bikini Wax
      %hr.space
      .span-6.last
        .hide#progress= image_tag 'barbershop.gif'
        #submit= submit_tag "Create", :name => nil, :class => 'button big'
    
        
