- title("Messages")
- javascript('messages')

.span-23.prepend-1.mat.padding-top-10.bottom
  %h2== Messages
  %h4
    %span{:style => 'padding-right: 7px;'}== Total: #{@total_count}
    - @msgs_by_protocol.keys.each do |protocol|
      %span{:style => 'padding-right: 7px;'}== #{protocol.titleize}: #{@msgs_by_protocol[protocol]}
  %h4
    = link_to 'New Message', new_message_path, :class => 'admin'

%hr.space

.span-14.prepend-1
  = display_flash(:all)

%hr.space

.span-24.last
  .span-13.prepend-1.append-bottom
    %h4.bottom= page_entries_info(@messages, :entry_name => 'message')
  .span-10.last#pagination
    = will_paginate(@messages)

-# column headers
%h4.span-24.last
  .span-4.prepend-1#sender_column
    %h4.bottom.column.header== From
  .span-9#subject_column
    %h4.bottom.column.header== Subject
  .span-10.last#when_column
    %h4.bottom.column.header== Sent

%hr.space

- @messages.each do |message|
  .span-24.last.letterbox.message{:class => cycle("shaded", "")}[message]
    .span-4.prepend-1#sender
      %h4
        = message.sender.name
        %span#message_info_icon{:style => 'padding-left: 2px; visibility: hidden;'}= link_to image_tag('info.png', :size => '20x20'), info_message_path(message), :class => 'message info image', :id => 'message_info'
    .span-9#subject
      %h4= message.subject
    .span-10.last#when
      %h4= message.updated_at.to_s(:appt_day_date_time)
    -# message info
    .span-23.prepend-1.last{:id => "message_#{message.id}_info"}