%p== This is a reminder that your appointment is coming up.

%table{:style => "border-spacing: 15px 0px;"}
  %tr
    %td== Service:
    %td= @service  

  %tr
    %td== With:
    %td= @provider

  %tr
    %td== When:
    %td= @when

  - unless @appointment_notes.blank? || @appointment_notes.empty?
    %tr
      %td== Notes:
      %td
        %ul
          - @appointment_notes.each do |n|
            %li= h(n)

- unless @footer_provider.blank?
  %p= @footer_provider

- unless @footer_company.blank?
  %p= @footer_company

- unless @signature_template.blank?
  = render(:partial => "#{@signature_template}.html.haml")
