- stylesheet('people')
- javascript('people')

.span-15
  .span-15.box
    = label_tag "live_search_for_people", "Find a person by typing their name", :class => 'big'
    %br
    = text_field("person", "name", :autocomplete => "off", :id => 'live_search_for_people', :class => 'title big', :url => people_path(:subdomain => current_subdomain))
    %span#search_progress.hide{:style => 'padding-left: 5px;'}= image_tag 'dots.gif'
  .span-14.prepend-1.append-1.last
    = display_flash(:notice)
      
  .span-15.last
    .prepend-1.people.header#people_search_text
      = @search_text
    #people
      = render(:partial => 'people.html.haml', :locals => {:people => @people})
    
.span-7.prepend-2.last
  .span-6.box
    - if current_company.may_add_resource?
      - form_for(Person.new, :url => people_path(:subdomain => current_subdomain), :method => :post, :html => {:class => 'new_person', :id => 'new_person_form'}) do |f|
        .span-6.last
          = label_tag "new_person_name", "Add a person", :class => 'big'
        .span-6.last
          = text_field_tag "person[name]", '', :id => 'person_name', :class => 'title big required', :style => 'width: 200px;'
        .span-6.last
          .hide#progress= image_tag 'barbershop.gif'
          #submit= submit_tag "Create", :name => nil, :class => 'button big'
    - else
      = "You cannot add any more people. If you wish to do so, please #{link_to "change plan", change_subscription_path(:subdomain => current_subdomain) }"
