#invoice_total
  = render(:partial => 'invoices/invoice_total.html.haml', :locals => {:invoice => invoice})
  
%h2== Services
#invoice_services
  = render(:partial => 'invoices/invoice_line_items.html.haml', :locals => {:invoice => invoice, :chargeable_types => ["Service"], :mode => mode})
- if mode == :rw
  .span-10.last
    - form_for(Service.new, add_invoice_path(invoice), :url => add_invoice_path(invoice), :html => {:id => "add_chargeable_service"}) do |f|
      = select_tag('service_id', options_for_select([['Add a service', 0]] + services.collect{ |o| [o.name, o.id]}, 0))
      
%hr.space

%h2== Products
#invoice_products
  = render(:partial => 'invoices/invoice_line_items.html.haml', :locals => {:invoice => invoice, :chargeable_types => ["Product"], :mode => mode})
- if @mode == :rw
  .span-10.last
    - form_for(Product.new, add_invoice_path(@invoice), :url => add_invoice_path(invoice), :html => {:id => "add_chargeable_product"}) do |f|
      = select_tag('product_id', options_for_select([['Add a product', 0]] + products.collect{ |o| [o.name, o.id]}, 0))
