- javascript('invoices')
- stylesheet('datePicker')

.span-17
  .span-16.last.box
    .span-9
      %h2== Invoices
      %h4= @daterange.name
    .span-6.prepend-1.last
      #links
        - build_invoice_when_links(Appointment::WHENS_PAST, @when, :default => 'past week') do |link, separator|
          = link
          = separator
        %br
        %em== or
        %br
        = link_to "Use a Date Range", '', :id => 'show_dates'
        
      #dates.hide
        = render(:partial => 'shared/date_range', :locals => {:object => Invoice.new, :url => search_invoices_path})
          
  .span-16.prepend-1
    - if @appointments.blank?
      %h3== No Invoices
      
  #invoices
    = render(:partial => 'appointments/appointments_list.html.haml', :locals => {:appointments => @appointments})
    
  %hr.space
  
  - unless @appointments.blank?
    .span-16.last.highlighted
      .span-5.prepend-1
        %h2== Total
      .span-5
        %h2= @total
        
.span-6.prepend-1.last
  .sidebar.instructions.padding-5
    == How do I search invoices?
    %ul
      %li== Select a pre-defined search range or specify your own date range
