- javascript('date', 'jquery.bgiframe', 'jquery.datePicker', 'invoices')
- stylesheet('datePicker')

.span-17
  .span-16.last.box
    .span-9
      %h2== Invoices
      %h4= @daterange.name
    .span-6.last
      #links
        - build_invoice_when_links(Appointment::WHENS_PAST, @when, :default => 'past week') do |link, separator|
          = link
          = separator
        %em== or
        %br
        = link_to "Use a Date Range", '', :id => 'show_dates'
        
      #dates.hide
        - form_for(AppointmentInvoice.new, :url => search_invoices_path, :method => :get) do |f|
          .span-3
            == Start:
            %br
            = text_field_tag 'start_date', '', :style => 'width: 90px; font-size: 12px;', :class => 'date-pick'
          .span-3.last
            == End:
            %br
            = text_field_tag 'end_date', '', :style => 'width: 90px; font-size: 12px;', :class => 'date-pick'
          .span-6.last{:style => 'padding-top: 7px;'}
            = f.submit 'Search', :name => nil, :class => 'button'
            == or
            = link_to "Cancel", '', :id => 'show_links'
          
  .span-16.prepend-1
    - if @appointments.blank?
      %h3== No Invoices
      
  #invoices
    = render(:partial => 'appointments/appointments_list.html.haml', :locals => {:appointments => @appointments})
    
  %hr.space
  
  - unless @appointments.blank?
    .span-16.last.highlighted
      .span-5.prepend-1
        %h2== Total
      .span-5
        %h2= @total
        
.span-6.prepend-1.last
  .sidebar.instructions.padding-5
    == How do search invoices?
    %ul
      %li== Select a pre-defined search range or specify your own date range
