- title('Sign Up')

- form_for(@company, :url => signup_plan_path(:plan_id => @plan.id), :method => :post, :html => {:class => 'new_company'}) do |f|
  = hidden_field_tag "plan_id", @plan.id
  .span-23.prepend-1.mat.shaded.padding-top-10.padding-bottom-20
    %h2 Please sign up using the fields below.

  %hr.space

  .span-23.prepend-1.mat.padding-top-10
    -# user info
    .span-20.last
      %h2== User information
    - if logged_in?
      .span-18.last
        %h4== This account is being created for #{current_user.name}
    - else
      - fields_for("user", @user) do |user_form|
        .span-18.prepend-1.last
          %h4
            == Create your user account
            == (if you already have a user account you want to use, please log in and then sign up).
            
        -# show any user errors
        - unless @user.errors.blank?
          .span-18.notice
            = error_messages_for('user', :header_message => nil)
            
        -# user fields    
        .span-20.last.padding-bottom-10
          .span-4
            %h3.text-align-right{:style => "padding-top: 10px;"}== Name:
          .span-16.last
            = user_form.text_field :name, :class => 'title big', :style => 'width: 300px; margin: 0px;'
        .span-20.last.padding-bottom-10
          .span-4
            %h3.text-align-right{:style => "padding-top: 10px;"}== Email:
          .span-16.last
            = user_form.text_field :email, :class => 'title big', :style => 'width: 300px; margin: 0px;'
        .span-20.last.padding-bottom-10
          .span-4
            %h3.text-align-right{:style => "padding-top: 10px;"}== Password:
          .span-16.last
            = user_form.password_field :password, :class => 'title big', :style => 'width: 300px; margin: 0px;'
        .span-20.last.padding-bottom-10
          .span-4
            %h3.text-align-right{:style => "padding-top: 10px;"}== Confirm password:
          .span-16.last
            = user_form.password_field :password_confirmation, :class => 'title big', :style => 'width: 300px; margin: 0px;'
            .span-20.last.padding-bottom-10
        
    -# end of user information
    .span-20.last
      %hr.plan.divider

    -# company info
    .span-20.last
      %h2
        == Company information - 
        %span{:style => 'font-size: 0.7em;'}== Tell us about your company.
        
    -# show any company errors
    - unless @company.errors.blank?
      .span-18.notice
        = error_messages_for('company', :header_message => nil)
    .span-20.last.padding-bottom-10
      .span-4
        %h3.text-align-right.padding-top-10== Company name:
      .span-16.last
        = f.text_field :name, :id => 'company_name', :class => 'title big', :style => 'width: 200px; margin: 0px;'
      .span-16.prepend-4.last.directions
        == This is the name of your company as it will be shown to your customers on your company pages.
      .span-4
        %h3.text-align-right.padding-top-10== Subdomain:
      .span-16.last
        = f.text_field :subdomain, :class => 'title', :style => 'width: 200px; margin: 0px;'
        %span{:style => 'font-size: 12px; font-weight: bold;'}=DOMAIN
    .span-16.prepend-4.last.directions
      == This is the address your customers will use to view and schedule appointments (e.g. http://widgets#{DOMAIN}). You will use this address to login and manage your appointments. It should only have letters, numbers or dash.
    
    .span-20.last
      .span-4
        %h3.text-align-right{:style => 'padding-top: 3px;'}== Timezone:
      .span-16.last
        = f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, {:include_blank => true}, {:style => 'margin: 0px;', :class => 'select big'}
      .span-16.prepend-4.last.directions
        == This is the timezone for your business.  Users will be shown available times and schedule appointments in this timezone. 
        
      -# end of company information 
    .span-20.last
      %hr.plan.divider
      
    -# billing info
    .span-20.last
      %h2== Billing Information
        
    -# show any subscription errors
    - unless @subscription and @subscription.errors.blank?
      .span-18.notice
        = error_messages_for('subscription', :header_message => nil)
    
    - if @plan.cost == 0
      .span-18.last
        %h4== You have chosen a free plan so you do not have to provide billing information now.
    - else
      .span-20#credit_card
        .span-20.last
          .span-18.last
            %h4== Please provide your credit card billing details.
          .span-7#first_name
            = label_tag 'cc_first_name', 'First Name'
            %br
            = text_field_tag 'cc[first_name]', '', :id => 'cc_first_name', :class => 'title', :style => 'width: 200px;'

          .span-13.last#last_name
            = label_tag 'cc_last_name', 'Last Name'
            %br
            = text_field_tag 'cc[last_name]', '', :id => 'cc_last_name', :class => 'title', :style => 'width: 200px;'
      
        .span-20.last
          .span-7#type
            = label_tag 'cc_type', 'Credit Card Type'
            %br
            = select_tag('cc[type]', options_for_select(credit_card_types_for_select), :class => 'select big', :style => 'width: 150px;')
          .span-6#number
            = label_tag 'cc_number', 'Credit Card Number'
            %br
            = text_field_tag 'cc[number]', '', :id => 'cc_number', :class => 'title', :style => 'width: 200px;'
          .span-3#expires
            = label_tag 'expires', 'Expires On'
            %br
            = select_tag('cc[month]', options_for_select(Range.new(1,12)), :class => 'select big')
            = select_tag('cc[year]', options_for_select(Range.new(2009, 2020)), :class => 'select big')
          .span-4.last#cvv
            = label_tag 'cc_verification_value', 'CVV'
            %br
            = text_field_tag 'cc[verification_value]', '', :id => 'cc_verification_value', :class => 'title', :style => 'width: 30px; height: 15px; font-size: 14px;'
           
    -# end of billing information 
    .span-20.last
      %hr.plan.divider

    -# review plan
    .span-20.last
      %h2== Review your plan and signup
      
    .span-18.prepend-1.last
      = render :partial => 'plans/plan', :object => @plan
      
    .span-18.prepend-1.last
      %h4
        == All plans are monthly. There are no cancellation fees or long-term contracts.
        == To choose another plan go #{link_to "back to the signup page", signup_path }

    -# show terms errors
    - if @terms_error
      .span-18.notice
        = @terms_error
        
    -# terms and conditions
    .span-20.last
      %h3
        = check_box_tag "company[terms]"
        = label_tag 'company_terms', 'I agree to the terms and conditions'
      
    .span-20.last.padding-top-10
      = submit_tag "Create My Account", :name => nil, :class => 'button big'
      == &nbsp;or&nbsp;
      = link_to 'Cancel', root_path, :style => 'font-size: 12px;'
  
