- title('Peanut Signup')

- form_for(@company, :url => signup_path, :method => :post, :html => {:class => 'new_company'}) do |f|
  .span-20.box
    .span-20.last
      %h2== Create your account
    .span-18.last
      %hr
    -# show any company errors
    - unless @company.errors.blank?
      .span-18.notice
        = error_messages_for('company', :header_message => nil)
    .span-20.last.padding-bottom-10
      .span-4
        %h3.text-align-right== Company name:
      .span-16.last
        = f.text_field :name, :id => 'company_name', :class => 'title big', :style => 'width: 200px; margin: 0px;'
        %span{:style => 'font-size: 12px; font-weight: bold;'}=DOMAIN
    .span-16.prepend-4.last
      %em{:style => "color: #666666; font-size: 15px;"}== This is the address you will use to login and manage your appointments. (e.g. http://peanut.peanutcalendar.com)
    
    %hr.space
  
    .span-20.last
      .span-4
        %h3.text-align-right== Timezone:
      .span-16.last
        = f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, {:include_blank => true}, {:style => 'margin: 0px;', :class => 'select big'}
      .span-16.prepend-4.last
        %em{:style => "color: #666666; font-size: 15px;"}== This is the timezone for your business.  Users will be shown available times and schedule appointments in this timezone. 
        
    %hr.space

    - if logged_in?
      %h2== This company is being created for #{current_user.name}
    - else
      - fields_for("user", @user) do |user_form|
        .span-20.last
          %h2== Create your user account
        .span-18.last
          %hr
        -# show any user errors
        - unless @user.errors.blank?
          .span-18.notice
            = error_messages_for('user', :header_message => nil)
        .span-20.last.padding-bottom-10
          .span-4
            %h3.text-align-right{:style => "padding-top: 10px;"}== Your name:
          .span-16.last
            = user_form.text_field :name, :class => 'title big', :style => 'width: 300px; margin: 0px;'
        .span-20.last.padding-bottom-10
          .span-4
            %h3.text-align-right{:style => "padding-top: 10px;"}== Your email:
          .span-16.last
            = user_form.text_field :email, :class => 'title big', :style => 'width: 300px; margin: 0px;'
        .span-20.last.padding-bottom-10
          .span-4
            %h3.text-align-right{:style => "padding-top: 10px;"}== Your password:
          .span-16.last
            = user_form.password_field :password, :class => 'title big', :style => 'width: 300px; margin: 0px;'
        .span-20.last.padding-bottom-10
          .span-4
            %h3.text-align-right{:style => "padding-top: 10px;"}== Confirm password:
          .span-16.last
            = user_form.password_field :password_confirmation, :class => 'title big', :style => 'width: 300px; margin: 0px;'
            .span-20.last.padding-bottom-10
        

    %hr.space

    - fields_for("account", @user.account) do |account_form|
      .span-20.last
        %h2== Billing Information
      .span-18.last
        %hr
      -# show any user errors
      - unless @user.account.errors.blank?
        .span-18.notice
          = error_messages_for('account', :header_message => nil)
      .span-20.last.padding-bottom-10
        .span-4
          %h3.text-align-right{:style => "padding-top: 10px;"}== Street Address:
        .span-16.last
          = account_form.text_field :street1, :class => 'title big', :style => 'width: 300px; margin: 0px;'
      .span-20.last.padding-bottom-10
        .span-4
          %h3.text-align-right{:style => "padding-top: 10px;"}== Street Address 2:
        .span-16.last
          = account_form.text_field :street2, :class => 'title big', :style => 'width: 300px; margin: 0px;'
      .span-20.last.padding-bottom-10
        .span-4
          %h3.text-align-right{:style => "padding-top: 10px;"}== City:
        .span-16.last
          = account_form.text_field :city, :class => 'title big', :style => 'width: 300px; margin: 0px;'
      .span-20.last.padding-bottom-10
        .span-4
          %h3.text-align-right{:style => "padding-top: 10px;"}== State:
        .span-16.last
          = account_form.text_field :state, :class => 'title big', :style => 'width: 300px; margin: 0px;'
      .span-20.last.padding-bottom-10
        .span-4
          %h3.text-align-right{:style => "padding-top: 10px;"}== Zip:
        .span-16.last
          = account_form.text_field :zip, :class => 'title big', :style => 'width: 300px; margin: 0px;'
      .span-20.last.padding-bottom-10

    %hr.space

    .span-20.last
      %h2== Review your plan and signup
      = render :partial => 'plans/plan', :object => @plan
    .span-18.last
      %hr
    -# show terms errors
    - if @terms_error
      .span-18.notice
        = @terms_error
    .span-20.last
      %h3== All plans are monthly. There are no cancellation fees or long-term contracts.
    .span-20.last
      %h3
        = check_box_tag "company[terms]"
        = label_tag 'company_terms', 'I agree to the terms and conditions'
      
  .span-20.prepend-1
    = submit_tag "Create My Account", :name => nil, :class => 'button big'
    == &nbsp;or&nbsp;
    = link_to 'Cancel', root_path, :style => 'font-size: 12px;'
  
