- appointment = Appointment.new if local_assigns[:appointment].nil?

.span-11.prepend-1.last.dialog.hide#add_work_appointment_dialog{:title => "Schedule an Appointment"}
  - form_for(appointment, :url => schedule_work_path, :html => {:id => 'add_work_appointment_form'}) do |f|
    -# We don't bother with duration or capacity - both will be obtained from the service
    -# We don't bother with customer - it will default to current_user
    -# start_at is assigned by javascript based on the date and time
    -# provider_type, provider_id, customer_id are assigned by javascript
    = hidden_field_tag :provider_id, nil
    = hidden_field_tag :provider_type, ''
    = hidden_field_tag :mark_as, 'work'
    = hidden_field_tag :start_at
    = hidden_field_tag :customer_id
    = hidden_field_tag :force, 1
    
    .add_appointment
      .span-11.last.date.padding-top-10
        .span-3.label
          %h4.bottom.block== Date
        .span-8.last
          -# field is always disabled
          = text_field_tag 'date', '', :id =>'start_date', :class => 'big appointment add edit datepicker disabled', :disabled => false
      .span-11.last.service.padding-top-10
        .span-3.padding-top-5.label
          %h4.bottom.block== Service
        .span-8.last#service
          = select_tag :service_id, options_for_select(services.map {|s| [s.name, s.id]}), :class => 'big appointment services wide'
      .span-11.last.padding-top-10
        .span-3.padding-top-5.label
          %h4.bottom.block== Start Time
        .span-8.last#start_time_text
          = text_field_tag :start_time, '', :class => 'appointment work timepicker big', :autocomplete => 'off'
      .span-11.last.duration.padding-top-10
        .span-8.last.prepend-3.last#duration_in_words
          = Duration.to_words(duration, :prepend => "Typically") if @service
      .span-11.last.change-duration.padding-top-10
        .span-3.padding-top-3.label
          %h4.bottom.block== How long
        .span-8.last#duration
          = select_tag('duration', options_for_select(service_duration_select_options, nil))
      .span-11.last.padding-top-10#providers
        .span-3.padding-top-5.label
          %h4.bottom.block== With
        .span-8.last.field#who
          -# field is disabled when adding appointments
          = select_tag(:provider, options_for_select(providers.collect{ |o| [o.name, "#{o.tableize}/#{o.id}"]}, "#{provider.tableize}/#{provider.id}"), :class => 'openings search wide')
      .span-11.last.padding-top-10
        .span-3.padding-top-5.label
          %h4.bottom.block== Customer
        .span-8.last#customer_search
          = text_field_tag '', '', :class => 'big', :autocomplete => 'off', :id => 'customer_name', :url => customers_path(:format => :json)
        .span-8.prepend-3.last
          %em.small== Search using name, phone number or email

      - if has_privilege?('create users', current_company)
        .span-8.prepend-3.last
          %h4.bottom.small= link_to 'Add a new customer', '', :class => 'customer add', :id => 'add_work_appointment_add_customer'

      .span-8.last.padding-top-10.padding-bottom-10
        #submit= f.submit 'Add', :name => nil, :class => 'big', :id => 'add_work_appointment'
