#add_work_appointment
  .toolbar
    %h1== Add Work Appointment
    = link_to 'Cancel', '#', :class => 'cancel'

  - form_tag(schedule_work_path, :id => 'add_work_appointment_form') do
    = hidden_field_tag :provider_id
    = hidden_field_tag :provider_type
    = hidden_field_tag :start_at
    = hidden_field_tag :mark_as, 'work'
    = hidden_field_tag :force, '1'

    %ul.edgetoedge
      -# start date set on page load
      %li#start_date== &nbsp;
    %ul.edgetoedge.individual
      %li= select_tag 'start_time', options_for_select([['Select start time', '']] + build_calendar_times(Range.new(1,12).to_a, 30))
      %li= select_tag 'start_ampm', options_for_select([['Select am/pm', '']] + ['am', 'pm'])
    %ul.edgetoedge
      %li= select_tag 'service_id', options_for_select(services.map {|s| [s.name, s.id]}), :placeholder => 'Pick a service'
      %li= text_field_tag 'duration_words', '', :disabled => true
      %li= select_tag 'duration', options_for_select(service_duration_select_options, nil), :placeholder => 'Duration'
      -# search progress field is shown during a customer live search
      %li.hide#customer_search_progress= text_field_tag "customer_search_progress", '', :autocomplete => "off", :disabled => true
      -# search results field is populated by customer live search
      %li.hide#customer_search_results= select_tag 'customer_id', options_for_select([], nil), :placeholder => 'Search for customers below'
      %li= text_field_tag "customer_search", '', :autocomplete => "off", :id => 'live_search_for_customers', :url => customers_path, |
                                                 :placeholder => "Search using name, phone or email" |
    %ul.individual
      %li.add_work_confirm= link_to "Add", '', :class => 'submit'

    .info.hide== Adding ...
      