- title("Manage Schedules")
- stylesheet('calendar', 'datePicker')
- javascript('calendar_weekly', 'time_range_slider')

.span-24.last#what
  .span-15.box
    .span-15.last.provider
      = label_tag "edit_provider", "Create weekly schedule for", :class => 'big'
      = select_tag('edit_provider', options_for_select(@providers.collect{ |o| [o.name, "#{o.tableize}/#{o.id}"]}, "#{@provider.tableize}/#{@provider.id}"), :class => 'text')
    %h4.span-15.last#how{:style => 'line-height: 25px;'}
      == Use the calendar to select the days of the week.
      %br
      == Use the time range sliders to select the available time range.
      %br
      == Specify the start date and end date for the schedule.
      %br
      == Click the 'Schedule' button to add the selected available time to your calendar.
  .span-7.prepend-1.last
    .sidebar.instructions.padding-5
      == What is available time?
      %ul{:style => 'font-size: 11px;'}
        %li== Its the time a person is available to take appointments.
      == Why does everyone start with no available time?
      %ul{:style => 'font-size: 11px;'}
        %li== Its the default, since the system has no way of knowing when a person is available to work.

.span-14.prepend-1.last
  = display_flash

%h4.bottom.visible.span-14.prepend-1.append-9.last#weekly_schedule
  == &nbsp;

%hr.space

.span-23.prepend-1.last
  .span-14#free_work_calendar
    = render(:partial => 'shared/calendar', :locals => {:total_days => 7, :start_day => @daterange.start_at, :today => DateRange.today, :show_weeks => false, :markings => @calendar_markings})

%hr.space

.span-14.prepend-1.last{:style => 'font-size: 13px; margin-bottom: 7px;'}
  .span-2
    %span== Start Time:
  .span-11.last
    = select_tag('start_time_of_day', options_for_select(@tod, @tod_start), :class => 'text', :style => 'margin: 0px;')
    %span{:id => 'start_time', :style => 'font-size 13px; padding-left: 5px;'}==
.span-23.prepend-1.sliders#slider_start
  .span-20.slider.hide{:id => 'morning'}
    = render(:partial => 'calendar/time_range_slider', :locals => {:start_hour => 8, :start_minute => 0, :end_hour => 12, :end_minute => 0, :minute_interval => 15, :display => 'start_time'})
  .span-20.slider.hide{:id => 'afternoon'}
    = render(:partial => 'calendar/time_range_slider', :locals => {:start_hour => 12, :start_minute => 0, :end_hour => 17, :end_minute => 0, :minute_interval => 15, :display => 'start_time'})

%hr.space

.span-14.prepend-1.last{:style => 'font-size: 13px; margin-bottom: 7px;'}
  .span-2
    == End Time:
  .span-11.last
    = select_tag('end_time_of_day', options_for_select(@tod, @tod_end), :class => 'text', :style => 'margin: 0px;')
    %span{:id => 'end_time', :style => 'font-size 13px; padding-left: 5px;'}==
.span-23.prepend-1.sliders#slider_end
  .span-20.slider.hide{:id => 'morning'}
    = render(:partial => 'calendar/time_range_slider', :locals => {:start_hour => 8, :start_minute => 0, :end_hour => 12, :end_minute => 0, :minute_interval => 15, :display => 'end_time'})
  .span-20.slider.hide{:id => 'afternoon'}
    = render(:partial => 'calendar/time_range_slider', :locals => {:start_hour => 12, :start_minute => 0, :end_hour => 17, :end_minute => 0, :minute_interval => 15, :display => 'end_time'})

%hr.space

.span-14.prepend-1.last{:style => 'font-size: 13px; margin-bottom: 7px;'}
  .span-2
    == Start Date:
  .span-11.last.padding-bottom-10
    = text_field_tag 'schedule_start_date', '', :style => 'width: 90px; font-size: 12px;', :class => 'date-pick'
  .span-2
    == End Date:
  .span-11.last
    = radio_button_tag "ends", "Never", true, :id => 'schedule_end_never'
    = label_tag "schedule_end_never", "Never", :class => 'small'
    = radio_button_tag "ends", "Until", false, :id => 'schedule_end_until'
    = label_tag "schedule_end_until", "Until", :class => 'small'
    = text_field_tag 'schedule_end_date', '', :style => 'width: 90px; font-size: 12px;', :class => 'date-pick hide'

- form_for(Appointment.new, :url => url_for(:subdomain => current_subdomain, :controller => 'appointments', :action => 'create_weekly', :provider_type => @provider.tableize, :provider_id => @provider.id), :method => :post, :html => {:id => 'add_weekly_schedule_form'}) do |f|
  = hidden_field_tag :freq, 'weekly'
  = hidden_field_tag :wkst, 'su'
  = hidden_field_tag :byday, ''
  = hidden_field_tag :dstart, ''
  = hidden_field_tag :tstart, ''
  = hidden_field_tag :tend, ''
  = hidden_field_tag :until, ''
  
  %hr.space
  %hr.space
  
  .span-16.last.prepend-1
    %h2#submit
      = f.submit "Create Weekly Schedule", :class => 'big button'
      %span{:style => 'font-size: 11px;'}
        == or
        = link_to 'Cancel', url_for(:controller => 'calendar', :action => 'show', :provider_type => @provider.tableize, :provider_id => @provider.id, :subdomain => current_subdomain)
    %h2.hide#progress= image_tag 'barbershop.gif'
  
  
