- title("Schedules")
- javascript('appointments')
- stylesheet('appointments', 'calendar', 'datePicker')

.span-16.append-1
  .span-15.prepend-1.last.mat
    .span-8
      %h3
        = label_tag "schedulable", "Schedule for", :class => 'big'
        = select_tag('schedulable', options_for_select(@schedulables.collect{ |o| [schedulable_display_name(o, current_user), "#{o.tableize}/#{o.id}"]}, "#{@schedulable.tableize}/#{@schedulable.id}"), :class => 'text')
      %h6{:style => 'margin-bottom: 20px; font-weight: normal;'}= link_to 'PDF Version', url_for(:format => 'pdf', :subdomain => current_subdomain)
    .span-6.prepend-1.last
      #links
        - build_calendar_when_links(@schedulable, Appointment::WHEN_WEEKS, @when, :default => Appointment::WHEN_THIS_WEEK) do |link, separator|
          = link
          = separator
        %br
        == or
        %br
        = link_to "Use a Date Range", '', :id => 'show_dates'
      
      #dates.hide
        = render(:partial => 'shared/date_range', :locals => {:object => Appointment.new, :url => url_for(:action => 'search', :schedulable_type => @schedulable.class.to_s.tableize, :schedulable_id => @schedulable.id, :subdomain => current_subdomain)})
      
  .span-14.prepend-1.last
    #appointment_flash

  .span-14.prepend-1.last
    = display_flash(:notice)
    
  .span-15.prepend-1.last
    %h2
      = @daterange.name
    .span-15.last#free_work_calendar
      = render(:partial => 'shared/calendar.html.haml', :locals => {:total_days => @daterange.days, :start_day => @daterange.start_at, :today => DateRange.today, :markings => @calendar_markings})
    %h3.span-15.last#appointments_count
      = render(:partial => 'appointments/appointments_count.html.haml', :locals => {:count => @appointments.size})
    .span-15.last#free_schedule
      = render(:partial => 'appointments/free_work_appointments', :locals => {:appointments_by_day => @appointments_by_day})

-# show add free time form if the user is a calendar manager for this calendar
- if @calendar_manager
  = render(:partial => 'calendar/add_free_time', :locals => {:schedulable => @schedulable, :service => @free_service, :daterange => @daterange})
