- title("Schedules")
- stylesheet('appointments', 'calendar', 'jquery.timepickr')
- javascript('appointments', 'calendar', 'ui.timepickr', 'jquery.timepickr')

.span-16.append-1
  .span-15.prepend-1.last.mat.padding-top-10
    .span-8
      %h3
        = label_tag "show_provider", "Schedule for", :class => 'big'
        = select_tag('show_provider', options_for_select(@providers.collect{ |o| [provider_display_name(o, current_user), "#{o.tableize}/#{o.id}"]}, "#{@provider.tableize}/#{@provider.id}"), :class => 'text')
      %h6{:style => 'margin-bottom: 20px; font-weight: normal;'}= link_to 'PDF Version', url_for(:format => 'pdf', :subdomain => current_subdomain)
    .span-6.prepend-1.last
      #links
        - build_calendar_when_links(@provider, Appointment::WHEN_WEEKS, @when, :default => Appointment::WHEN_THIS_WEEK) do |link, separator|
          = link
          = separator
        %br
        == or
        %br
        = link_to "Use a Date Range", '', :id => 'show_dates'
      
      #dates.hide
        = render(:partial => 'shared/date_range', :locals => {:object => Appointment.new, :url => url_for(:action => 'search', :provider_type => @provider.class.to_s.tableize, :provider_id => @provider.id, :subdomain => current_subdomain), :submit_id => 'search_calendar_with_date_range_submit'})
      
  .span-14.prepend-1.last.padding-top-10
    = display_flash
    
  %hr.space
  
  .span-15.prepend-1.last
    %h3.calendar.date_range_name= @daterange.name(:with_dates => true)
      
    -# show free, work calendar
    .span-15.last#free_work_calendar
      = render(:partial => 'shared/calendar.html.haml', :locals => {:total_days => @daterange.days, :start_day => @daterange.start_at, :today => DateRange.today, :markings => @calendar_markings})
      
    -# show summary of work and free appointments
    .span-15.last
      %h3.calendar.date_range_summary
        = @work_appointments.size > 0 ? pluralize(@work_appointments.size, 'Appointment') : "No Appointments"
        == and
        = @free_appointments.size > 0 ? pluralize(@free_appointments.size, 'Available Timeslot') : "No Available Timeslots"
        
    -# show free and work appointments
    .span-15.last#free_work_appointments
      = render(:partial => 'appointments/free_work_appointments', :locals => {:appointments_by_day => @appointments_by_day})

-# show add free time form if the user can update the providers calendar
- if current_user.has_privilege?('update calendars', @provider)
  = render(:partial => 'calendar/add_free_time', :locals => {:provider => @provider, :service => @free_service, :daterange => @daterange})
