- title(@title || "Schedule")
- stylesheet('appointments', 'calendar', 'jquery.timepickr', 'datePicker', 'jquery.autocomplete')
- javascript('appointments', 'calendar', 'waitlists', 'messages', 'ui.timepickr', 'jquery.timepickr', 'jquery.datePicker')
- prev_next_links = build_calendar_prev_next_links(@provider, @daterange)

.span-16
  .span-15.prepend-1.last.mat.padding-top-10
    .span-9
      -# schedule for provider
      %h4.bigger
        = label_tag "show_provider", "Schedule for:"
        = select_tag('show_provider', options_for_select(@providers.collect{ |o| [provider_display_name(o, current_user), "#{o.tableize}/#{o.id}"]}, "#{@provider.tableize}/#{@provider.id}"), :class => 'text big')
        -#== &nbsp;|&nbsp;
        -#= link_to 'Email PDF Schedule', '', :id => 'send_pdf'
      -#= render(:partial => 'calendar/send_pdf_dialog')
      -# schedule add blocks of time links
      %h4{:style => 'font-size: 1.0em;'}
        = link_to "Add Blocks of Available Time", new_block_path
        == &nbsp;or&nbsp;
        = link_to "Add a Weekly Schedule", new_weekly_path
    .span-6.last
      %h6{:style => 'margin-bottom: 20px; font-weight: normal;'}
        = link_to @pdf_title, @pdf_link, :id => 'pdf_version'
      -##links
        -#- build_calendar_range_type_links(@provider, DateRange::RANGE_TYPES, @daterange.range_type, @daterange.start_at) do |link|
          -#= link + " | "
        -#= link_to "Date Range", '', :id => 'show_dates'
        -#%br
        -#== or
        -#%br
        -#= today_prev_next[:today_link]
      
      -#dates.hide
        -#= render(:partial => 'shared/date_range', :locals => {:object => Appointment.new, :url => url_for(:action => 'search', :provider_type => @provider.class.to_s.tableize, :provider_id => @provider.id, :subdomain => current_subdomain), :submit_id => 'search_calendar_with_date_range_submit'})
      
  .span-14.prepend-1.last.padding-top-10
    = display_flash

  %hr.space

  .span-15.prepend-1.last#schedule_container.padding-bottom-20
  
    .span-15.last#schedule_help
      %h4
        == Click a highlighted date on the calendar below to see appointments for that date,
        == or click on the '+' icon next to a date to add free time or appointments.

    .span-15.last#schedule_date_range_and_links
      .span-3
        =prev_next_links[:prev_link]
      .span-9.center_justify
        %h4.calendar.date_range_name{:style => 'white-space: nowrap;'}
          = @daterange.name(:with_dates => true)
          -# show today button if daterange does not include today
          - unless @daterange.include?(@today)
            %span{:style => 'padding-left: 5px;'}= link_to 'Today', url_for(params.update(:start_date => nil)), :class => 'today'
      .span-3.last.right_justify
        =prev_next_links[:next_link]

    -# show free, work calendar
    .span-15.last#free_work_calendar
      = render(:partial => 'shared/calendar', :locals => {:daterange => @daterange, :markings => @calendar_markings, :today => @today, |
                                                          :add_free_time_link => 1, :add_appointment_link => @services.empty? ? 0 : 1}) |

    -# show free, work appointments and waitlists by day
    .span-15.last#calendar_by_day.hide
      = render(:partial => 'calendar/show_by_day', :locals => {:stuff_by_day => @stuff_by_day, :capacity_and_work_by_free_appt => @capacity_and_work_by_free_appt})

    -# add a send message hidden form
    .last#send_message
      = render(:partial => 'messages/send_message', :locals => {:sender => current_user, :protocol => 'email', :hidden => true})

.span-8.last
  -# schedule help
  .span-7.prepend-1.last
    = render(:partial => 'schedule_help')

-#.add_appointment_free_time.span-7.last
-# show add free time form if the user can update the providers calendar or update company calendars
- if has_privilege?('update calendars', @provider) || has_privilege?('update calendars', current_company)
  -#= render(:partial => 'calendar/add_appointment', :locals => {:provider => @provider, :services => @services})
  -#= render(:partial => 'calendar/add_free_time', :locals => {:provider => @provider, :service => @free_service, :daterange => @daterange})
  = render(:partial => 'calendar/add_appointment_dialog', :locals => {:provider => @provider, :services => @services})
  = render(:partial => 'calendar/add_free_time_dialog', :locals => {:provider => @provider, :service => @free_service})
