- title(@title || "Schedule")
- stylesheet('appointments', 'calendar', 'jquery.timepickr', 'datePicker', 'jquery.autocomplete')
- javascript('appointments', 'calendar', 'waitlists', 'users', 'service_providers', 'ui.timepickr', 'jquery.timepickr', 'jquery.datePicker')

-# calendar previous/next links
- prev_next_links = build_calendar_prev_next_links(@provider, @daterange)

-# service providers mapping services to providers
.span-16.service_providers.hide
  - unless @sps.blank?
    - @sps.each do |sp|
      .service_provider{:service_id => sp[0], :provider_id => sp[1], :provider_name => sp[2], :provider_type => sp[3]}

-# services description
.span-16.services.hide
  - unless @sps.blank?
    - @sps.each do |sp|
      .service{:service_id => sp[0], :allow_custom_duration => sp[4], :service_duration => Duration.to_words(sp[5], :prepend => "Typically"), :service_duration_in_secs => sp[5]}

.span-16
  .span-15.prepend-1.last.mat.padding-top-10
    .span-9
      -# schedule for provider
      %h4.bigger
        = label_tag "show_provider", "Schedule for:"
        = select_tag('show_provider', options_for_select(@providers.collect{ |o| [provider_display_name(o, current_user), "#{o.tableize}/#{o.id}"]}, "#{@provider.tableize}/#{@provider.id}"), :class => 'text')
      -# schedule add blocks of time links
      %h4{:style => 'font-size: 1.0em;'}
        = link_to "Add Blocks of Available Time", new_block_path
        == &nbsp;or&nbsp;
        = link_to "Add a Weekly Schedule", new_weekly_path
    .span-6.last#pdf
      %h4.bold.bottom== PDF Schedules:
      = link_to 'Today', calendar_when_format_path(:when => 'today', :format => 'pdf'), :id => 'pdf_schedule_today'
      == &nbsp;or&nbsp;
      = link_to 'Pick a Date Range', '', :id => 'pdf_schedule_date_range'
      
  .span-14.prepend-1.last.padding-top-10
    = display_flash

  %hr.space

  .span-15.prepend-1.last#schedule_container.padding-bottom-20
  
    .span-15.last#schedule_help
      %h4
        == Click a highlighted date on the calendar below to see appointments for that date,
        == or click on the '+' icon next to a date to add free time or appointments.

    .span-15.last#schedule_date_range_and_links
      .span-3
        =prev_next_links[:prev_link]
      .span-9.center_justify
        %h4.calendar.date_range_name{:style => 'white-space: nowrap;'}
          = @daterange.name(:with_dates => true)
          -# show today button if daterange does not include today
          - unless @daterange.include?(@today)
            %span{:style => 'padding-left: 5px;'}= link_to 'Today', url_for(params.update(:start_date => nil)), :class => 'today'
      .span-3.last.right_justify
        =prev_next_links[:next_link]

    -# show free, work calendar
    .span-15.last#free_work_calendar
      = render(:partial => 'shared/calendar', :locals => {:daterange => @daterange, :markings => @calendar_markings, :today => @today, |
                                                          :add_free_time_link => 1, :add_appointment_link => @services.empty? ? 0 : 1}) |

    -# show free, work appointments and waitlists by day
    .span-15.last#calendar_by_day.hide
      = render(:partial => 'calendar/show_by_day', :locals => {:stuff_by_day => @stuff_by_day})

.span-8.last
  -# schedule help
  .span-7.prepend-1.last
    = render(:partial => 'schedule_help')

-# special actions require special privileges
- if has_privilege?('update calendars', @provider) || has_privilege?('update calendars', current_company)
  -# hidden forms for add/edit appointment, add free time, and add customer
  = render(:partial => 'calendar/add_appointment_dialog', |
           :locals => {:provider => @provider, :services => @services, :providers => @providers, :choose_provider => false}) |
  = render(:partial => 'calendar/add_free_time_dialog', :locals => {:provider => @provider, :service => @free_service, :providers => @providers})
  - @customer = User.new
  - @customer.email_addresses.build
  - @customer.phone_numbers.build
  = render(:partial => 'users/user_form_dialog', |
           :locals => {:user => @customer, :role => 'company customer', :submit_url => customer_create_format_path(:format => :json), |
                       :title => 'Add Customer', :submit_text => 'Create'}) |

-# cancel appointment dialog
= render(:partial => "calendar/cancel_appointment_dialog", :locals => {:provider => @provider})

-# pdf date range dialog
= render(:partial => "calendar/pdf_schedule_date_range_dialog", :locals => {:provider => @provider})

%script{:type => "text/javascript"}
  var appointment_create_work_path = "#{schedule_work_path}";
  var appointment_update_work_path = "#{appointment_path(':id')}";
  var appointment_create_free_path = "#{url_for(:controller => 'appointments', :action => 'create_free')}"
  var appointment_update_free_path = "#{appointment_path(':id')}";
  