%h3.prepend-1
  = title
= hidden_field_tag 'initial_provider_id', provider.id
= hidden_field_tag 'initial_provider_type', provider.tableize
- form_for(Appointment.new, :url => url_for(:controller => 'openings', :action => 'search', :subdomain => current_subdomain), :method => :post, :html => {:id => 'search_openings_form'}) do |f|
  .last{:class => size == :wide ? "span-24" : "span-7"}
    .span-2.text-align-right#what_text.padding-top-5
      == Service?
    .span-5.last.field#what
      = select_tag('service_id', options_for_select(services.collect{ |s| [s.name, s.id]}, service.id), :class => 'openings search wide', :style => 'padding-top: 0px;')
  .last.duration{:class => size == :wide ? "span-24" : "span-7"}
    .span-5.prepend-2.last#duration_in_words
      = Duration.to_words(duration, :prepend => "Typically") if @service
    %br
    .span-7.last.change
      .span-2.text-align-right#duration_text{:style => 'padding-top: 7px;'}
        == How long?
      .span-5.last
        %span.field#duration
          = select_tag('duration', options_for_select(service_duration_select_options, duration))
  .last{:class => size == :wide ? "span-24" : "span-7"}
    .span-2.text-align-right#who_text.padding-top-5
      == With?
    .span-5.last.field#who
      = select_tag('provider', options_for_select(providers.collect{ |o| [o.name, "#{o.tableize}/#{o.id}"]}, "#{provider.tableize}/#{provider.id}"), :class => 'openings search wide')

  -# time of day, disable until its working
  -#.last{:class => size == :wide ? "span-24" : "span-7"}
    -#.span-2.text-align-right#when_text{:style => 'padding-top: 7px;'}
      -#== Time of Day?
    -#.span-5.last
      -#%span.field#time_of_day
        -#= select_tag('time', options_for_select(Appointment::TIMES, time))
        
  -# when select list
  .last#when_select{:class => size == :wide ? "span-24" : "span-7"}
    .span-2.text-align-right#when_text.padding-top-5
      == When?
    .span-5.last
      %span.field#when
        = select_tag('when', options_for_select(Appointment::WHEN_WEEKS, when_range))
      %span{:style => 'padding-left: 5px;'}
        == or
  .last#when_select_cancel{:class => size == :wide ? "span-24" : "span-7"}
    .span-5.prepend-2.last
      = link_to 'Pick a Date Range', '', :id => 'show_when_date_range'
      
  -# when date range fields
  .last#when_date_range_start.hide{:class => size == :wide ? "span-24" : "span-7"}
    .span-2.text-align-right#when_text.padding-top-5
      == When?
    .span-5.last
      %span.field#date_range_start
        == Start:
        %br
        = text_field_tag 'start_date', '', :style => 'width: 90px;', :class => 'openings datepicker', :autocomplete => 'off'

  .last#when_date_range_end.hide{:class => size == :wide ? "span-24" : "span-7"}
    .span-5.prepend-2.last
      %span.field#date_range_end
        == End:
        %br
        = text_field_tag 'end_date', '', :style => 'width: 90px;', :class => 'openings datepicker', :autocomplete => 'off'
  .last#when_date_range_cancel.hide{:class => size == :wide ? "span-24" : "span-7"}
    .span-5.prepend-2.last
      = link_to 'Cancel', '', :id => 'show_when_select'
        
  -# show location select if necessary
  - if @locations.size > 1
    %br
    .last{:class => size == :wide ? "span-24" : "span-7"}
      .span-2.text-align-right#where_text.padding-top-5
        == Where?
      .span-5.last.field#where
        = select_tag('location_id', options_for_select(build_company_location_select_options, current_location.id), :class => 'openings search wide')
  %br
  .last{:class => size == :wide ? "span-24" : "span-7", :style => 'margin-left: 15px; padding-top: 10px;'}
    %h4.span-3.last= link_to submit_text, '', :class => 'rounded button color', :id => 'search_submit'
