- timeslots_by_day.each do |day, timeslots|
  .span-16.last
    %h3== #{day.to_s(:appt_day)}
  -# group timeslots by people
  - reset_cycle
  - timeslots.group_by { |timeslot| timeslot.resource }.each do |person, timeslots|
    - timeslots.each_with_index do |timeslot, i|
      - id = "#{person.id}_#{i}"
      .span-11.last.timeslot{:id => "timeslot_#{id}", :class => cycle("shaded", "")}
        .span-5.person
          = person.name
        .span-4.time
          == #{timeslot.start_at.to_s(:appt_time)} - #{timeslot.end_at.to_s(:appt_time)}
        .span-2.last.hide.hover_region{:id => "hover_timeslot_#{id}"}
          = link_to('Book It', schedule_path(:subdomain => @subdomain, :person_id => person.id, :service_id => service.id, :start_at => timeslot.start_at.to_s(:appt_schedule)))
  %hr.space
