- timeslots_by_day.each do |day, timeslots|
  %h2== #{day.to_s(:appt_day)}
  -# group timeslots by people
  - timeslots.group_by { |timeslot| timeslot.resource }.each do |person, timeslots|
    %table.timeslots
      - timeslots.each_with_index do |timeslot, i|
        - id = "#{timeslot.start_at.to_s(:appt_schedule)}_#{person.name.downcase}_#{i}"
        %tr.timeslot{:id => "timeslot_#{id}", :class => cycle("shaded", "")}
          %td.person= person.name
          %td.time== #{timeslot.start_at.to_s(:appt_time)} - #{timeslot.end_at.to_s(:appt_time)}
          %td.hover_region{:id => "hover_timeslot_#{id}", :style => 'display: none'}
            = link_to('Book It', schedule_path(:subdomain => @subdomain, :person_id => person.id, :service_id => service.id, :start_at => timeslot.start_at.to_s(:appt_schedule)))
