- title("Schedule an Apppointment")
- stylesheet('appointments', 'calendar')
- javascript('service_providers', 'openings')

-# service providers mapping services to schedulables
.span-16.service_providers.hide
  - @sps.each do |sp|
    .service_provider{:service_id => sp[0], :schedulable_id => sp[1], :schedulable_name => sp[2], :schedulable_type => sp[3]}

.span-16.services.hide
  - @sps.each do |sp|
    .service{:service_id => sp[0], :allow_custom_duration => sp[4], :service_duration => service_duration_in_words(sp[5])}
          
.span-15.prepend-1.last
  - if !@current_company.can_schedule_appointments?
    %h2
      == Before customers can schedule appointments, there must be at least 1 calendar
      = link_to '(add)', users_path
      == and 1 service
      = link_to '(add)', services_path
      == .
      
  - unless @when.blank?
    %h2.span-15
      - if @free_timeslots.blank?
        -# No available appointments
        == No Available Appointments -
        = link_to "Notify me if there is an opening", waitlist_path(:subdomain => current_subdomain, :schedulable_type => @schedulable.tableize, :schedulable_id => @schedulable.id, :service_id => @service.id, :when => @when, :time => @time)
      - else
        -# Show count of available appointments
        == #{pluralize(@free_timeslots.size, 'Available Appointment')}
        
    .span-15.last
      -# Show appointment when range
      %h3== #{@when.titleize}

    - cache(@openings_cache_key, :expires_in => 5.minutes) do
      .span-15.last#free_calendar
        = render(:partial => 'shared/calendar.html.haml', :locals => {:total_days => @daterange.days, :start_day => @daterange.start_at, :today => DateRange.today, :markings => @calendar_markings})
      .span-15.last.timeslots#free_timeslots
        = render(:partial => 'timeslots.html.haml', :locals => {:timeslots_by_day => @free_timeslots_by_day, :service => @service})

.span-7.prepend-1.last
  .span-7.last.sidebar.instructions
    - if @when.blank?
      == How do I schedule an appointment?
      %ul
        %li== Select appointment criteria and click on 'Search'
    - elsif !@free_timeslots.blank?
      == What can I do here?
      %ul
        %li== Select an available appointment
        %span== or
        %li== Select different appointment criteria and search again
    - else
      == What can I do here?
      %ul
        %li== Select different appointment criteria and search again
        %span== or
        %li== Select the waitlist to be notified of an opening

  .span-7.last.mat
    %h2== Change Search:
    = hidden_field_tag 'initial_schedulable_id', @schedulable.id
    = hidden_field_tag 'initial_schedulable_type', @schedulable.tableize
    - form_for(@query, :url => url_for(:action => 'search', :subdomain => current_subdomain), :method => :post, :html => {:id => 'search_openings_form'}) do |f|
      .span-7.last
        .span-2.text-align-right#what_text{:style => 'padding-top: 7px;'}
          == What?
        .span-5.last.field#what
          = select_tag('service_id', options_for_select(@services.collect{ |s| [s.name, s.id]}, @service.id))
      %br
      .duration.span-7.last{:style => 'display: none;'}
        .span-5.prepend-2.last#duration_in_words
        %br
        .span-2.text-align-right#duration_text{:style => 'padding-top: 7px;'}
          == How long?
        .span-5.last
          %span.field#duration
            = select_tag('duration', options_for_select(service_duration_select_options, @duration))
        %br
      .span-7.last
        .span-2.text-align-right#who_text{:style => 'padding-top: 7px;'}
          == With?
        .span-5.last.field#who
          = select_tag('schedulable', options_for_select(@schedulables.collect{ |o| [o.name, "#{o.tableize}/#{o.id}"]}, "#{@schedulable.tableize}/#{@schedulable.id}"), :style => "width: 125px; align: top;")
      %br
      .span-7.last
        .span-2.text-align-right#when_text{:style => 'padding-top: 7px;'}
          == When?
        .span-5.last
          %span.field#when
            = select_tag('when', options_for_select(Appointment::WHEN_WEEKS, @when))
          %span.field#time
            = select_tag('time', options_for_select(Appointment::TIMES, @time))
      - if @locations.size > 1
        %br
        .span-7.last
          .span-3.text-align-right
            == Where?
          .span-4.last.field#where
            = select_tag('location_id', options_for_select(build_company_location_select_options, current_location.id), :style =>      "width: 125px;")
      %br
      .span-4.prepend-1.last
        = f.submit 'Search again', :name => nil, :class => 'submit', :id => 'search_submit'
        %span#search_progress.hide{:style => 'padding-left: 5px;'}= image_tag 'dots.gif'


