- stylesheet('appointments', 'calendar')
- javascript('skills', 'openings')

.span-17
  .box
    %h2== Schedule an Appointment
    = hidden_field_tag 'initial_person_id', @person.id
    - form_for(@query, :url => url_for(:action => 'search', :subdomain => @subdomain), :method => :post) do |f|
      == What
      %span.field#what
        = select_tag('service_id', options_for_select(@services.collect{ |s| [s.name, s.id]}, @service.id))
      %span{:style => "padding-left: 10px;"}
        == Who
      %span.field#who
        = select_tag('person_id', options_for_select(@people.collect{ |r| [r.name, r.id]}, @person.id), :style => "width: 125px;")
      %span{:style => "padding-left: 10px;"}
        == When
      %span.field#when
        = select_tag('when', options_for_select(Appointment::WHEN_WEEKS, @when))
      %span.field#time
        = select_tag('time', options_for_select(Appointment::TIMES, @time))
      %span#search{:style => @when ? "display: inline; padding-left: 10px;" : "display: none; padding-left: 10px;"}
        = f.submit 'Search', :name => nil, :class => 'submit'

.span-6.prepend-1.last
  .sidebar.instructions.padding-5
    - if @when.blank?
      == How do I schedule an appointment?
      %ul
        %li== Select appointment criteria and click on 'Search'
    - elsif !@free_timeslots.blank?
      == What can I do here?
      %ul
        %li== Select an available appointment
        %span== or
        %li== Select different appointment criteria and search again
    - else
      == What can I do here?
      %ul
        %li== Select different appointment criteria and search again
        %span== or
        %li== Select the waitlist to be notified of an opening
          
.span-16.prepend-1.last
  - unless @when.blank?
    %h2
      - if @free_timeslots.blank?
        == No Available Appointments -
        = link_to "Notify me if there is an opening", waitlist_path(:subdomain => @subdomain, :person_id => @person.id, :service_id => @service.id, :when => @when, :time => @time)
      - else
        == #{pluralize(@free_timeslots.size, 'Available Appointment')}
    %h3.span-16.last
      == #{@when.titleize}
    .span-16.last#free_calendar
      = render(:partial => 'shared/calendar.html.haml', :locals => {:total_days => @daterange.days, :start_day => @daterange.start_at, :today => DateRange.today, :markings => @calendar_markings})
    .span-16.last.timeslots#free_timeslots
      = render(:partial => 'timeslots.html.haml', :locals => {:timeslots_by_day => @free_timeslots_by_day, :service => @service})

