- title("Schedule an Appointment")
- stylesheet('appointments', 'calendar')
- javascript('service_providers', 'openings', 'appointments', 'waitlists', 'users', 'rpx', 'ui.timepickr', 'jquery.timepickr', 'jquery.datePicker')

-# service providers mapping services to providers
.span-16.service_providers.hide
  - unless @sps.blank?
    - @sps.each do |sp|
      .service_provider{:service_id => sp[0], :provider_id => sp[1], :provider_name => sp[2], :provider_type => sp[3]}

.span-16.services.hide
  - unless @sps.blank?
    - @sps.each do |sp|
      .service{:service_id => sp[0], :allow_custom_duration => sp[4], :service_duration => Duration.to_words(sp[5], :prepend => "Typically"), :service_duration_in_secs => sp[5]}
  
.span-24.last
  = display_flash(:all)

- if @daterange.blank?
  - if @searchable
    -# show company text
    .span-15.prepend-1.append-1#company_description
      %hr.space
      - if !current_company.description.blank?
        -# company specific text
        = Sanitize.clean(current_company.description, Sanitize::Config::WALNUT)
      - else
        -# generic text
        %h3== Welcome to #{current_company.name}'s online scheduling system.
        %h3== Use the search box at the right to find appointment openings.
        %h3== Today is #{Time.zone.now.to_s(:appt_day)}
  - else
    -# show company private text
    .span-15.prepend-1.append-1#company_private
      %hr.space
      %h3== Welcome to #{current_company.name}'s online scheduling system.
      %h3== Online scheduling is available to registered users only.  Its fast, free and easy to use.
      %h3== Please contact us to signup for online scheduling.

- else
  -# show openings
  .span-15.prepend-1.append-1#openings
    .span-15.last.padding-top-10
      -# show search parameters
      %h4.bigger
        .span-15.last.padding-bottom-5#search_service
          .span-2.label.block
            %span.block== Service:
          .span-13.last
            = @service.name
        .span-15.last.padding-bottom-5#search_with
          .span-2.label.block
            %span.block== With: 
          .span-13.last
            = @provider.name
        .span-15.last.padding-bottom-5#search_when
          .span-2.label.block
            %span.block== When:
          .span-13.last
            = @daterange.name(:with_dates => true)
      %hr.space
      %h4.bigger
        - if @free_capacity_slots.blank?
          == We found no available time slots matching your search criteria.
        - else
          == Click an available date on the calendar below to schedule an appointment,
          == or add yourself to the
          = link_to "waitlist", '', :class => 'notify waitlist', :id => 'add_waitlist'
          == if you can't find a suitable time slot.

    - cache(@openings_cache_key, :expires_in => 5.minutes) do
      .span-15.last#today
        = render(:partial => 'shared/today', :locals => {:today => @today})
      .span-15.last#free_calendar
        = render(:partial => 'shared/calendar', :locals => {:daterange => @daterange, :markings => @calendar_markings, :today => @today})
      .span-15.last.appointments#free_capacity_slots.hide
        = render(:partial => 'appointments/free_capacity_slots', :locals => {:capacity_slots_by_day => @free_capacity_slots_by_day, :service => @service})

    .span-15.last
      -# show waitlist text here if there are no available timeslots
      - if @free_capacity_slots.blank?
        %h4.bigger= link_to "Notify me if there is an opening", '', :class => 'notify waitlist', :id => 'add_waitlist'
        %h4== or
        %h4.bigger== Use the search bar to the right to change your search parameters and try again.

.span-7.last
  - if @searchable
    .span-7.last.mat#openings_search.padding-top-10
      = render(:partial => 'openings/search', :locals => {:title => @daterange ? "Modify Your Search" : "Make an Appointment", :submit_text => @daterange ? "Search Again" : "Search", :providers => @providers, :provider => @provider, :services => @services, :service => @service, :duration => @duration, :when_range => @when, :time => @time, :size => :narrow})
  - else
    -# no search bar
    .span-7.last#openings_search
      == &nbsp;

- if @searchable
  - if !@customer.blank?
    -# company is searchable and user is authenticated
    -# initialize appointment confirmation dialog
    = render(:partial => "calendar/confirm_appointment_dialog", |
             :locals => {:service => @service, :customer => @customer, :appointment => Appointment.new, :duration => @duration}) |
    -# initialize waitlist dialog
    = render(:partial => 'waitlists/add_waitlist_dialog', :locals => {:waitlist => @waitlist})
  - else @customer.blank?
    -# company is searchable, but user is not authenticated
    = render(:partial => "sessions/rpx_login_dialog", |
             :locals => {:intro => "Please tell us who you are by logging in or creating a new account.", :return_to => request.path}) |

