- title("Schedule an Apppointment")
- javascript('service_providers', 'openings', 'time_range_slider')
- stylesheet('appointments', 'calendar', 'datePicker')

-# service providers mapping services to schedulables
.span-16.service_providers.hide
  - @sps.each do |sp|
    .service_provider{:service_id => sp[0], :schedulable_id => sp[1], :schedulable_name => sp[2], :schedulable_type => sp[3]}

.span-16.services.hide
  - @sps.each do |sp|
    .service{:service_id => sp[0], :allow_custom_duration => sp[4], :service_duration => service_duration_in_words(sp[5], :exact => false)}
          
.span-15.prepend-1.append-1.last
  - if !@current_company.can_schedule_appointments?
    %h2
      == Before customers can schedule appointments, there must be at least 1 calendar
      = link_to '(add)', users_path
      == and 1 service
      = link_to '(add)', services_path
      == .
      
  - unless @daterange.blank?
    %h2.span-15
      - if @free_appointments.blank?
        -# No available appointments
        == No Available Appointments -
        = link_to "Notify me if there is an opening", waitlist_path(:subdomain => current_subdomain, :schedulable_type => @schedulable.tableize, :schedulable_id => @schedulable.id, :service_id => @service.id, :start_date => @daterange.to_url_param(:for => :start_date), :end_date => @daterange.to_url_param(:for => :end_date))
      - else
        -# Show count of available appointments
        == #{pluralize(@free_appointments.size, 'Available Appointment')}
        
    .span-15.last
      -# Show appointment daterange name
      %h3== #{@daterange.name}

    - cache(@openings_cache_key, :expires_in => 5.minutes) do
      .span-15.last#free_calendar
        = render(:partial => 'shared/calendar.html.haml', :locals => {:total_days => @daterange.days, :start_day => @daterange.start_at, :today => DateRange.today, :markings => @calendar_markings})
      .span-15.last.appointments#free_appointments
        = render(:partial => 'appointments/free_appointments.html.haml', :locals => {:appointments_by_day => @free_appointments_by_day, :service => @service})

.last.mat{:class => @daterange ? "span-7" : "span-24"}
  -#.span-7.last.sidebar.instructions
    -#= render(:partial => "openings/search_instructions", :locals => {:when_range => @when, :free_appointments => @free_appointments})
    
  -#%div{:class => @when ? "span-7" : "span-24"}
  = render(:partial => 'openings/search', :locals => {:title => @daterange ? "Modify Your Search" : "Make an Appointment", :submit_text => @daterange ? "Search Again" : "Search", :schedulables => @schedulables, :schedulable => @schedulable, :services => @services, :service => @service, :duration => @duration, :when_range => @when, :time => @time, :size => @daterange ? :narrow : :wide})