= javascript('service_providers')

.container
  .left
    .section_header
      %h1.index
        == Schedule an Appointment
      .schedule_form
        %p
        - form_for(@query, :url => url_for(:action => 'search', :subdomain => @subdomain), :method => :post) do |f|
          %span
            == What
          %span.field#what
            = select_tag('service_id', options_for_select(@services.collect{ |s| [s.name, s.id]}, @service.id))
          %span
            == Who
          %span.field#who
            = select_tag('person_id', options_for_select(@people.collect{ |r| [r.name, r.id]}, @person.id))
          %span
            == When
          %span.field#when
            = select_tag('when', options_for_select(Appointment::WHENS, @when))
          %span#search{:style => "display: none;"}
            = f.submit 'Search', :name => nil
            
    - unless @when.blank?
      .section_body
        %h1
          == #{pluralize(@free_timeslots.size, 'Available Appointment')}
        %h2
          == #{@when.titleize}
        #free_calendar
          = render(:partial => 'shared/calendar.html.haml', :locals => {:total_days => @daterange.days, :start_day => @daterange.start_at, :today => DateRange.today, :markings => @calendar_markings})
        .timeslots#free_timeslots
          = render(:partial => 'timeslots.html.haml', :locals => {:timeslots_by_day => @free_timeslots_by_day, :service => @service})
      
  .right
    .col
      .instructions
        - if @when.blank?
          == How do I schedule an appointment?
          %ul
            %li== Select appointment criteria and click on 'Search'
        - elsif !@free_timeslots.blank?
          == What can I do here?
          %ul
            %li== Select an available appointment
            %span== or
            %li== Select different appointment criteria and search again
        - else
          == What can I do here?
          %ul
            %li== Select different appointment criteria and search again
