- title("Schedule an Apppointment")
- stylesheet('appointments', 'calendar')
- javascript('skills', 'openings')

.span-16
  .prepend-1
    %h2== Schedule an Appointment
    = hidden_field_tag 'initial_resource_id', @resource.id
  - form_for(@query, :url => url_for(:action => 'search', :subdomain => current_subdomain), :method => :post, :html => {:id => 'schedule_search_form'}) do |f|
    .span-16.last
      .span-3.text-align-right
        == What?
      .span-5.field#what
        = select_tag('service_id', options_for_select(@services.collect{ |s| [s.name, s.id]}, @service.id))
      .span-4.text-align-right
        == Who/What to schedule?
      .span-4.last.field#who
        = select_tag('resource_id', options_for_select(@resources.collect{ |r| [r.name, r.id]}, @resource.id), :style => "width: 125px; align: top;")
    %br
    .span-16.last
      .span-3.text-align-right
        == When?
      .span-5
        %span.field#when
          = select_tag('when', options_for_select(Appointment::WHEN_WEEKS, @when))
        %span.field#time
          = select_tag('time', options_for_select(Appointment::TIMES, @time))
      - if @locations.size > 1
        .span-4.text-align-right
          == Where?
        .span-4.last.field#where
          = select_tag('location_id', options_for_select(build_company_location_select_options, current_location.id), :style =>      "width: 125px;")
      - else
        .span-8.last
    .span-4.prepend-1.last
      = f.submit 'Search', :name => nil, :class => 'submit', :id => 'search_submit', :disabled => @when ? 'false' : 'true'
      %span#search_progress.hide{:style => 'padding-left: 5px;'}= image_tag 'dots.gif'

-# skills mapping services to resources
.span-16.skills.hide
  - @skills.each do |skill|
    .skill{:service_id => skill[0], :resource_id => skill[1], :resource_name => skill[2], :resource_type => skill[3]}
          
.span-7.prepend-1.last
  .sidebar.instructions.padding-5
    - if @when.blank?
      == How do I schedule an appointment?
      %ul
        %li== Select appointment criteria and click on 'Search'
    - elsif !@free_timeslots.blank?
      == What can I do here?
      %ul
        %li== Select an available appointment
        %span== or
        %li== Select different appointment criteria and search again
    - else
      == What can I do here?
      %ul
        %li== Select different appointment criteria and search again
        %span== or
        %li== Select the waitlist to be notified of an opening
          
.span-15.prepend-1.last
  - if !@current_company.can_schedule_appointments?
    %h2
      == Before customers can schedule appointments, there must be at least 1 resource
      = link_to '(add)', resources_path
      == and 1 service
      = link_to '(add)', services_path
      == .
      
  - unless @when.blank?
    %h2.span-15
      - if @free_timeslots.blank?
        -# No available appointments
        == No Available Appointments -
        = link_to "Notify me if there is an opening", waitlist_path(:subdomain => current_subdomain, :resource => @resource.tableize, :id => @resource.id, :service_id => @service.id, :when => @when, :time => @time)
      - else
        -# Show count of available appointments
        == #{pluralize(@free_timeslots.size, 'Available Appointment')}
        
    .span-15.last
      -# Show appointment when range
      %h3== #{@when.titleize}

    - cache(@openings_cache_key, :expires_in => 5.minutes) do
      .span-15.last#free_calendar
        = render(:partial => 'shared/calendar.html.haml', :locals => {:total_days => @daterange.days, :start_day => @daterange.start_at, :today => DateRange.today, :markings => @calendar_markings})
      .span-15.last.timeslots#free_timeslots
        = render(:partial => 'timeslots.html.haml', :locals => {:timeslots_by_day => @free_timeslots_by_day, :service => @service})

