<div class='page_header'>
  <h1 class='index'>Jobs</h1>
</div>

<table>
  <tr>
    <th>Name</th>
    <th>Duration</th>
    <th>Mark As</th>
  </tr>

<% for job in @jobs %>
  <tr>
    <td><%=h job.name %></td>
    <td><%=h job.duration %></td>
    <td><%=h job.mark_as %></td>
    <td><%= link_to 'Show', job %></td>
    <td><%= link_to 'Edit', edit_job_path(job) %></td>
    <td><%= link_to 'Destroy', job, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New job', new_job_path %>
