- users.each do |user|
  .span-16.last.letterbox.user{:class => cycle("shaded", "")}
    .span-9.prepend-1.name
      %h2{:style => "margin-bottom: 3px;"}= user.name
      %h3{:style => "margin-bottom: 2px;"}= user.email
      -# show user roles
      = user.roles.collect(&:name).join(", ")
    .span-3.calendar
      - id = "schedulable_#{user.class.to_s.underscore}_#{user.id}"
      = check_box_tag 'Calendar', 'yes', user.has_calendar?(current_company), :id => id, :class => 'checkbox user', :url => url_for(:controller => :calendars, :action => :toggle, :schedulable => user.tableize, :id => user.id, :subdomain => current_subdomain)
      = label_tag id, 'Calendar', :class => 'checkbox label'
      %span.checkbox.progress{:style => 'padding-left: 5px; display: none;'}= image_tag 'dots.gif'
    .span-2.action.last
      = link_to "Edit", edit_user_path(user, :subdomain => current_subdomain), :class => 'admin'
