- if logged_in?
  = link_to('My Info', edit_user_path(current_user, :subdomain => current_subdomain), :class => 'admin header')
  == &nbsp;|&nbsp;
  
  - if has_privilege?('update companies', current_company)
    = link_to 'My Company', edit_company_root_path(:subdomain => current_subdomain), :class => 'admin header'
    == &nbsp;|&nbsp;

  - if has_privilege?('manage site')
    = link_to('Messages', messages_path, :class => 'admin header')
    == &nbsp;|&nbsp;
    = link_to('Console', root_path(:subdomain => 'www'), :class => 'admin header')
    == &nbsp;|&nbsp;
    
  = link_to('Log out', logout_path, :class => 'admin header')
- else
  = link_to('Log in or Sign up', login_path, :class => 'admin header')
  
- if RAILS_ENV == 'development'
  == &nbsp;|&nbsp;
  = link_to('Toggle Grid', url_for(:controller => 'debug', :action => 'toggle_blueprint_grid'), :method => :put, :class => 'admin header')

