- if logged_in?
  = link_to('My Info', edit_user_path(current_user, :subdomain => @subdomain), :class => 'admin header')
  == &nbsp;|&nbsp;
  
  - if current_company
    = link_to('Users', users_path(:subdomain => @subdomain), :class => 'admin header')
    == &nbsp;|&nbsp;
    
  - if has_privilege?('update companies', current_company)
    = link_to 'Company Info', edit_company_path(current_company, :subdomain => @subdomain), :class => 'admin header'
    == &nbsp;|&nbsp;
    
  = link_to('Log-out', logout_path, :class => 'admin header')
- else
  = link_to('Log-in', login_path, :class => 'admin header')

