- title('Edit User')
- stylesheet('users')

- form_for(@user, :url => url_for(:controller => 'users', :action => 'update', :type => @type, :subdomain => current_subdomain), :method => :post) do |f|
  
  .span-23.prepend-1.last.mat.padding-bottom-20
    = label_tag "user_name", "Name", :class => 'big'
    %br
    = text_field_tag "user[name]", @user.name, :class => 'title highlight muted'
  
  %hr.space
  
  -# email
  .span-20.last
    .span-4.text-align-right
      %h3{:style => 'font-size: 1.8em; padding-top: 15px;'}= label_tag "user_email", "Email:"
    .span-16.last
      = text_field_tag "user[email]", @user.email, :class => 'text title', :style => "width: 300px;"
      
  -# phone
  .span-20.last
    .span-4.text-align-right
      %h3{:style => 'font-size: 1.8em; margin-top: 15px;'}= label_tag "user_phone", "Phone:"
    .span-16.last
      = text_field_tag "user[phone]", @user.phone, :class => 'text title', :style => "width: 300px;"

  -# mobile carrier
  .span-20.last
    .span-4.text-align-right
      %h3{:style => 'font-size: 1.5em; padding-top: 10px;'}= label_tag "user_mobile_carrier_id", "Wireless Provider:"
    .span-16.last
      = select_tag('user_mobile_carrier_id', options_for_select(mobile_carrier_select_options, @user.mobile_carrier ? @user.mobile_carrier.id : nil), :class => 'select big', :name => "user[mobile_carrier_id]")
      
  %hr.space

  .span-20.prepend-1.last.submit
    = submit_tag "Save Changes"
    == or
    = link_to "Cancel", @index_path, :class => 'admin'

