- title('Edit User')
- stylesheet('users', 'notes')
- javascript('notes')

- form_for(@user, :url => url_for(:controller => 'users', :action => 'update', :role => @role, :subdomain => current_subdomain), :method => :post) do |f|
  
  .span-23.prepend-1.last.mat.padding-bottom-20
    %h3.padding-top-10{:style => 'font-size: 2.0em;'}== Edit #{@role.titleize}
  
  %hr.space
  
  -# show any user errors
  - unless @user.errors.blank?
    .span-16.notice
      = error_messages_for('user', :header_message => nil)
  
  -# name
  .span-20.last
    .span-4.text-align-right
      %h3{:style => 'font-size: 1.8em; padding-top: 15px;'}= label_tag "user_name", "Name:"
    .span-16.last
      = f.text_field :name, :class => 'text title', :style => "width: 300px;"
  
  -# email
  .span-20.last
    .span-4.text-align-right
      %h3{:style => 'font-size: 1.8em; padding-top: 15px;'}= label_tag "user_email", "Email:"
    .span-16.last
      = f.text_field :email, :class => 'text title', :style => "width: 300px;"
      
  -# phone
  .span-20.last
    .span-4.text-align-right
      %h3{:style => 'font-size: 1.8em; margin-top: 15px;'}= label_tag "user_phone", "Phone:"
    .span-16.last
      = f.text_field :phone, :class => 'text title', :style => "width: 300px;"

  -# mobile carrier
  .span-20.last
    .span-4.text-align-right
      %h3{:style => 'font-size: 1.5em; padding-top: 10px;'}= label_tag "user_mobile_carrier_id", "Wireless Provider:"
    .span-16.last
      = select_tag('user_mobile_carrier_id', options_for_select(mobile_carrier_select_options, @user.mobile_carrier ? @user.mobile_carrier.id : nil), :class => 'select big', :name => "user[mobile_carrier_id]")
      
  %hr.space

  .span-20.prepend-1.last.submit
    = submit_tag "Save Changes"
    == or
    = link_to "Cancel", @index_path, :class => 'admin'

%hr.space
  
.span-15.prepend-1
  -# notes flash message
  #note_flash

  -# add new note
  .new_note#new_note_container
    %p
      %h4.bottom== Add a note:
      = render(:partial => 'notes/add_note.html.haml', :locals => {:note => @note, :subject => @user})
  %hr.space
  -# customer notes
  #notes_collection
    = render(:partial => 'notes/notes.html.haml', :locals => {:notes => @notes})


