- title("Customers")
- stylesheet('users')
- javascript('users')

.span-24
  .span-23.prepend-1.last.mat.padding-top-10.padding-bottom-20
    = label_tag "live_search_for_users", "Find a user by typing their name, email address or phone number", :class => 'big'
    %br
    .span-23.last#live_search
      = text_field("user", "name", :autocomplete => "off", :id => 'live_search_for_users', :class => 'title big', :url => users_path)
      %span#search_progress.hide{:style => 'padding-left: 5px;'}= image_tag 'dots.gif'
      %br
        = link_to 'Users with no company roles', '#', :id => 'live_search_for_users_without_company_roles', :class => 'admin'

  %hr.space

  .span-14.prepend-1.last
    = display_flash

  .span-24.last.padding-bottom-20
    #users_pagination
      = render(:partial => 'users_pagination', :locals => {:users => @users, :search_text => @search_text, :paginate => @paginate})
    #users
      = render(:partial => 'users/users', :locals => {:users => @users})
