#home.current
  .toolbar
    %h1== #{current_company ? current_company.name : 'Walnut Calendar'}
    - if logged_in?
      = link_to 'Logout', logout_path, :class => 'button slideup', :id => 'logout_button', :target => '_webapp'

  - if !logged_in?
    -# non-authenticated are required to login
    %ul.plastic
      %li.arrow= link_to 'Login', '#login', :class => 'dissolve'
  - else
    - if current_company
      -# authenticated company users see the main menu
      %ul.edgetoedge#menu
        %li.arrow= link_to "Openings", openings_path, :target => '_webapp'
        - if has_privilege?('read calendars', current_company)
          %li.arrow= link_to "Schedules", calendars_path, :target => '_webapp'
    - else
      -# authenticated user needs to find their company subdomain
      %ul.edgetoedge#menu
        %li== Please try navigating directly to your company's mobile website

  - if logged_in?
    .info== Logged in as #{user_login_name(current_user)}

-# login form
= render(:partial => 'sessions/login_form')