.events.span-24.last
  - events_by_day.each do |date, events|
    .events_group.span-24.last
      .date.prepend-1
        -# show event day of week and month day 
        .span-2= render(:partial => 'shared/calendar_cube', :locals => {:date => date})
        .span-2.last= render(:partial => 'shared/days_ago', :locals => {:date => date})
      - reset_cycle
      %hr.space
      - if events.blank?
        No events
      - else
        - events.each do |event|
          .span-23.prepend-1.last.letterbox.event{:class => cycle("shaded #{event.etype_to_s}", " #{event.etype_to_s}")}[event]
            .span-2
              == #{event.updated_at.strftime('%I:%M%p')}
            - if has_privilege?('update events', current_company) && (event.etype == Event::APPROVAL)
              .span-12
                - if !event.message_id.blank?
                  == #{eval('"' + EventsHelper::EVENT_MESSAGES[event.message_id] + '"')}
                - else
                  == #{event.message_body.blank? ? "No message" : "See message body"}
              .span-2.approve
                == Approve
              .span-2.reject
                == Reject
            - else
              .span-16
                - if !event.message_id.blank?
                  == #{eval('"' + EventsHelper::EVENT_MESSAGES[event.message_id] + '"')}
                - else
                == #{event.message_body.blank? ? "No message" : "See message body"}
            .span-3.seen
              - if has_privilege?('update events', current_company)
                - if event.seen?
                  = link_to('Mark as unseen', url_for(:subdomain => current_subdomain, :controller => 'events', :action => 'mark_as_seen', :id => event.id, :seen => 'false'), :class => 'ujs')
                - else
                  = link_to('Mark as seen', url_for(:subdomain => current_subdomain, :controller => 'events', :action => 'mark_as_seen', :id => event.id), :class => 'ujs')
            
            .span-1.delete.last
              - if has_privilege?('delete events', current_company)
                = link_to('Del', url_for(:subdomain => current_subdomain, :controller => 'events', :action => 'destroy', :id => event.id), :method => 'delete')
          - if !event.message_body.blank?
            .message_body
              .span-6.prepend-3.last
                %a.show_message_body{id="show_message_body_#{event.id}"}==Show / hide message body
              .span-20.prepend-3.message_body_text{id="show_message_body_#{event.id}"}
                = event.message_body.gsub(/\n/, '<br />')
                
