- title("Events")
/ - stylesheet('events')
/ - javascript('events')

.span-24
  .span-23.prepend-1.last.mat.shaded.padding-top-10.padding-bottom-10
    .span-15
      %h2== Events
      - if (@seen == true)
        %h3== #{link_to "Unseen", events_url(:subdomain => current_subdomain)} | Seen
      - else
        %h3== Unseen | #{link_to "Seen", events_url(:subdomain => current_subdomain, :seen => true)}
      
%hr.space

.span-23.prepend-1.mat
  %h3 Add an Event
  - form_for(Event.new, :url => events_url(:subdomain => current_subdomain), :method => :post) do |f|
    = hidden_field_tag :event_company_id, current_company.id
    = hidden_field_tag :event_user_id, current_user.id
    = f.select :etype, [["Urgent", 1], ["Approval", 2], ["Informational", 3]], {:selected => nil}
    = f.label :message, "Message: "
    = f.text_field :message
    = f.submit

%hr.space

#events
  - unless @urgent.empty?
    .urgent.span-22.prepend-1.append-1.last
      %h3==Urgent
      = render(:partial => 'events', :object => @urgent)
  - unless @approval.empty?
    .approval.span-22.prepend-1.append-1.last
      %h3==Approval
      = render(:partial => 'events', :object => @approval)
  - unless @informational.empty?
    .informational.span-22.prepend-1.append-1.last
      %h3==Informational
      = render(:partial => 'events', :object => @informational)
