- customers.each do |customer|
  .span-16.last.customer.letterbox{:class => cycle("shaded", "")}[customer]
    -# customer name and email
    .span-6.prepend-1
      %h2.customer.name.bottom= customer.name
      %h4.customer.email.bottom
        - if customer.email_addresses_count > 0
          = customer.primary_email_address.address
        - else
          %span.field_missing== No email address
      %h4.customer.phone.bottom
        - if customer.phone_numbers_count > 0
          = number_to_phone(customer.phone_number)
        - else
          == &nbsp;

    .span-5
      %h4= link_to "Show Appointments", customer_appointments_path(customer), :class => 'admin'

    .span-3.prepend-1.last
      -# allow company managers to edit all users, or the user to edit himself
      - if has_privilege?('update users', customer) || has_privilege?('update users', current_company)
        = link_to "Edit", customer_edit_path(customer), :class => 'admin'
        == &nbsp;
        -# allow password reset for non-rpx users
        -#- if !customer.rpx?
          -#= link_to 'Reset Password', url_for(:controller => 'users', :id => customer.id, :action => 'notify', :type => 'reset', :subdomain => current_subdomain), :class => 'admin'