%table.customers
  - customers.each do |customer|
    %tr{:id => "row_customer_#{customer.id}"}
      %td.name
        %h2= link_to customer.name, customer_path(customer)
      %td.contact_info
        .email
          = customer.email
        .phone
          = customer.phone
      %td.action
        = link_to "Appointments", customer_appointments_path(customer)
