- customers.each do |customer|
  .span-16.last.customer.letterbox{:class => cycle("shaded", "")}[customer]
    .span-7.prepend-1
      %h2.name{:style => 'margin-bottom: 2px;'}= link_to customer.name, url_for(:controller =>'users', :action => 'edit', :id => customer.id, :role => 'company customer', :subdomain => current_subdomain), :class => 'customer name'
      %span.customer.email{:style => 'font-size: 1.3em;'}= customer.email
      %br
      %span.customer.phone{:style => 'font-size: 1.3em;'}
        - if customer.phone_numbers_count > 0
          = number_to_phone(customer.primary_phone_number.address)
        - else
          == &nbsp;
          
    .span-4
      %h4= link_to "Show Appointments", customer_appointments_path(customer), :class => 'admin'
      
    .span-3.last
      -# allow company managers to edit all users, or the user to edit himself
      - if manager? or customer == current_user
        = link_to "Edit", url_for(:controller =>'users', :action => 'edit', :id => customer.id, :role => 'company customer', :subdomain => current_subdomain), :class => 'admin'
        == &nbsp;
        = link_to 'Reset Password', url_for(:controller => 'users', :id => customer.id, :action => 'notify', :type => 'reset', :subdomain => current_subdomain), :class => 'admin'