- customers.each do |customer|
  .span-16.last.customer.letterbox{:class => cycle("shaded", "")}[customer]
    -# customer name and email
    .span-7.prepend-1
      %h4.bigger.customer.name.bottom= customer.name
      %h4.customer.email.bottom
        - if customer.email_addresses_count > 0
          = customer.primary_email_address.address
        - else
          %span.field_missing== No email address
      %h4.customer.phone.bottom
        - if customer.phone_numbers_count > 0
          = number_to_phone(customer.phone_number)
        - else
          == &nbsp;

    .span-4
      -# show # of customer appointments
      - appt_count = customer.appointments_count
      - if appt_count > 0
        %h6= link_to pluralize(customer.appointments_count, 'appointment'), customer_appointments_path(customer)
      - else
        %h6= pluralize(customer.appointments_count, 'appointment')

    .span-3.prepend-1.last
      -# allow company managers to edit all users, or the user to edit himself
      - if has_privilege?('update users', customer) || has_privilege?('update users', current_company)
        = link_to "Edit", customer_edit_path(customer), :class => 'admin edit customer'
        - unless appt_count > 0
          -# show ujs delete link for customers with no appointments
          %span{:style => 'padding-left: 3px;'}= link_to 'Delete', customer_delete_path(customer), :class => 'admin ujs delete customer confirm', :question => "Are you sure you want to delete this customer?"
      - if has_privilege?('manage site', current_company)
        %span{:style => 'padding-left: 3px;'}= link_to 'Sudo', user_sudo_path(customer), :class => 'admin customer sudo'
