- customers.each do |customer|
  .span-16.last.customer.letterbox{:class => cycle("shaded", "")}[customer]
    .span-7.prepend-1
      %h2.name{:style => 'margin-bottom: 2px;'}= link_to customer.name, customer_edit_path(customer), :class => 'customer name'
      %span.customer.email{:style => 'font-size: 1.3em;'}= customer.email_address
      %br
      %span.customer.phone{:style => 'font-size: 1.3em;'}
        - if customer.phone_numbers_count > 0
          = number_to_phone(customer.phone_number)
        - else
          == &nbsp;

    .span-4
      %h4= link_to "Show Appointments", customer_appointments_path(customer), :class => 'admin'

    .span-3.last
      -# allow company managers to edit all users, or the user to edit himself
      - if has_privilege?('update users', customer) || has_privilege?('update users', current_company)
        = link_to "Edit", customer_edit_path(customer), :class => 'admin'
        == &nbsp;
        -# allow password reset for non-rpx users
        - if !customer.rpx?
          = link_to 'Reset Password', url_for(:controller => 'users', :id => customer.id, :action => 'notify', :type => 'reset', :subdomain => current_subdomain), :class => 'admin'