- title("Customers")
- stylesheet('users')
- javascript('customers')

.span-16
  .span-15.prepend-1.mat.padding-top-10.padding-bottom-20
    = label_tag "live_search_for_customers", "Find a customer by typing their name", :class => 'big'
    -# must have 'create users' privilege to add a customer
    - if has_privilege?('create users', current_company)
      %span{:style => 'padding-left: 5px;'}== or
      %span{:style => 'padding-left: 5px; font-size: 1.1em;'}= link_to 'Add a Customer', url_for(:controller => 'users', :action => 'new', :type => 'customer', :subdomain => current_subdomain), :class => 'customer add'
    %br
    = text_field("customer", "name", :autocomplete => "off", :id => 'live_search_for_customers', :class => 'title big', :url => customers_path(:subdomain => current_subdomain))
    %span#search_progress.hide{:style => 'padding-left: 5px;'}= image_tag 'dots.gif'
    

  %hr.space

.span-14.prepend-1.last
  = display_flash
  
  .span-16.last
    #customers_pagination
      = render(:partial => 'customers_pagination', :locals => {:customers => @customers, :search_text => @search_text, :paginate => @paginate})
    #customers
      = render(:partial => 'customers', :locals => {:customers => @customers})
    
.span-8.last
  -# customer help
  .span-7.prepend-1.last
    = render(:partial => 'customer_help')
