- stylesheet('customers', 'notes')
- javascript('customers', 'notes')

.span-20
  .span-18.last.box
    %h2= @customer.name
    
.span-20
  .span-15.last.prepend-1
    -# customer contact info
    .block
      == Contact info
  .span-10.last.prepend-1
    .span-2.padding-5
      %h3== Email
    .span-4.last.padding-5
      %h3= mail_to(@customer.email)
  .span-10.last.prepend-1
    .span-2.padding-5
      %h3== Phone
    .span-4.last.padding-5
      %h3= @customer.phone

  .span-15.prepend-1
    -# notes flash message
    #note_flash

    -# add new note
    .new_note#new_note_container
      %p
        %h4== Add a note about this customer
        = render(:partial => 'notes/add_note.html.haml', :locals => {:note => @note, :subject => @customer})
    %hr.space
    -# customer notes
    #notes_collection
      = render(:partial => 'notes/notes.html.haml', :locals => {:notes => @notes})
