.span-20.box
  %h2
    == Editing
    = @company.name

  .span-20
    .span-17.prepend-1
      = display_flash(:notice)
      = display_flash(:error)

  .span-17.prepend-1
    .span-8
      %h3
        = "Currently subscribed to the <strong>#{@company.plan.name}</strong> plan."
        %br
        - if @company.subscription.start_billing_at
          = "Your first bill of #{number_to_currency(@company.plan.cost/100)} will be charged on #{@company.subscription.start_billing_at.to_date.to_s(:long)}."
        - elsif @company.subscription.next_billing_at
          = "Your next bill of #{number_to_currency(@company.plan.cost/100)} will be charged on #{@company.subscription.next_billing_at.to_date.to_s(:long)}."
        %br
        = link_to "Change subscription", change_subscription_path(:subdomain => current_subdomain)
    .span-5.last
      = render :partial => 'plans/plan', :object => @company.plan

  %hr.space


  - form_for(@company, :url => company_path(@company, :subdomain => current_subdomain)) do |f|
    = f.error_messages
  
    .span-19.prepend-1.last
      .span-3
        %h2== Timezone:
      .span-5.last
        = f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, {}, {:style => 'margin-top: 5px;', :class => 'select big'}
    .span-19.prepend-1.last
      .span-5
        = f.submit 'Update Timezone', :class => 'button big'
  %hr.space

  .span-19.prepend-1.last
    %h2
      == Company Locations
    = render :partial => 'locations/locations', :object => @company.locations.paginate(:page => params[:locations_page]), :locals => {:locatable => @company}

    %hr.space
    = link_to 'Go back to company site', root_path(:subdomain => current_subdomain), :style => 'font-size: 12px;'

