.span-20.box
  %h2
    == Editing
    = @company.name

.span-20
  .span-17.prepend-1
    = display_flash(:notice)
    
  - form_for(@company, :url => company_path(@company, :subdomain => @subdomain)) do |f|
    = f.error_messages
  
    .span-19.prepend-1.last
      .span-3
        %h2== Timezone:
      .span-5.last
        = f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, {}, {:style => 'margin-top: 5px;', :class => 'select big'}
    %hr.space
    .span-19.prepend-1.last
      .span-5
        = f.submit 'Update', :class => 'button big'
        == or
        = link_to 'Cancel', company_path(@company, :subdomain => @subdomain), :style => 'font-size: 12px;'
    %hr.space
    %hr.space
    
  .span-19.prepend-1.last
    %h2
      == Locations
    = render :partial => 'locations/locations', :object => @company.locations.paginate(:page => params[:locations_page]), :locals => {:locatable => @company}
