- title("Schedule an Apppointment")
- stylesheet('appointments', 'calendar')
- javascript('service_providers', 'openings')

.span-16.mat
  .span-15.prepend-1.mat
    %h2== Make an appointment
    = hidden_field_tag 'initial_schedulable_id', @schedulable.id
    = hidden_field_tag 'initial_schedulable_type', @schedulable.tableize

  = render :partial => 'openings/search.html.haml', :locals => {:wide => true}

  -# service providers mapping services to schedulables
  .span-16.service_providers.hide
    - @sps.each do |sp|
      .service_provider{:service_id => sp[0], :schedulable_id => sp[1], :schedulable_name => sp[2], :schedulable_type => sp[3]}

.span-7.prepend-1.last
  .sidebar.instructions.padding-5
    - if @when.blank?
      == How do I schedule an appointment?
      %ul
        %li== Select appointment criteria and click on 'Search'
    - elsif !@free_timeslots.blank?
      == What can I do here?
      %ul
        %li== Select an available appointment
        %span== or
        %li== Select different appointment criteria and search again
    - else
      == What can I do here?
      %ul
        %li== Select different appointment criteria and search again
        %span== or
        %li== Select the waitlist to be notified of an opening

.span-15.prepend-1.last
  - if !@current_company.can_schedule_appointments?
    %h2
      == Before customers can schedule appointments, there must be at least 1 calendar
      = link_to '(add)', users_path
      == and 1 service
      = link_to '(add)', services_path
      == .
