- subscriptions.each do |subscription|
  .span-23.prepend-1.letterbox{:class => cycle('shaded', '')}
    .span-7
      %h2{:style => 'margin-bottom: 3px;'}= subscription.company.name
      == Paid Billing Cycles: #{subscription.paid_count}
      %br
      == Billing Errors: #{subscription.billing_errors_count}
    .span-3
      %h4= subscription.state
    .span-5
      %h4
        == Next Billing Date:
        %br
        = subscription.next_billing_at.to_date