- title('Choose a new plan')

.span-24.last
  .span-15.prepend-1.append-1.last
    .highlight#flash

  .span-23.prepend-1.last.mat.padding-top-10
    %h2== Choose a new plan

  %hr.space
  
  - locations = pluralize(current_company.locations_count, "location")
  - providers = pluralize(current_company.schedulables_count, "provider")

  .span-22.prepend-1.append-1.last
    %h3
      = highlight("Your company is currently using the #{@current_plan.name} plan, with #{locations} and #{providers}.", [@current_plan.name, locations, providers])
      
  %hr.space
  
  .prepend-1
    -# check if there are any plans to upgrade/downgrade
    - if @plans.blank?
      %h3== There are no upgrade/downgrade options at this time.
    - else
      %h3== You may upgrade/downgrade to one of the following plans:
      = render(:partial => 'plans/plans', :locals => {:plans => @plans})
