- title('Choose a new plan')

.span-24.last
  .span-15.prepend-1.append-1.last
    .highlight#flash

  .span-22.prepend-1.append-1.last
    %h2 Choose a new plan
    %h4= "Your company is currently using the <strong>#{@current_plan.name}</strong> plan and has #{pluralize current_company.locations.size, "location"} and #{pluralize current_company.schedulables.size, "resource"}."
    %h4= "Based on the number of locations and resources you have, you may change your subscription to one of the following plans:"

  .prepend-1
    = render(:partial => 'plans/plans', :locals => {:plans => @plans})
