- if appointments.blank?
  .span-23.prepend-1
    %h2== The waitlist is empty
- else
  .span-23.prepend-1
    %h4= pluralize(appointments.size, "Appointment")
    
- appointments.each do |appointment|
  .span-24.last.letterbox.appointment{:class => cycle("shaded", "")}[appointment]
    .span-4.prepend-1.name
      %h3{:style => "margin-bottom: 2px;"}= (appointment.schedulable || User.anyone).name
      = appointment.service.name
    .span-4.when
      %h3{:style => "margin-bottom: 2px;"}= appointment.when.titleize
      = appointment.start_at.to_s(:appt_short_month_day_year)
      == -
      = appointment.end_at.to_s(:appt_short_month_day_year)
    .span-7.customer
      %h4= appointment.customer.name
    .span-8.last.action
      = link_to('Details', url_for(:controller => 'appointments', :action => appointment.mark_as, :id => appointment.id, :subdomain => current_subdomain), :class => 'admin')
      == &nbsp;
      = link_to("Cancel", cancel_appointment_path(appointment), :class => 'admin')
