<div class='page_header short_width'>
  <h1 class='index'>Resources</h1>
</div>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% for resource in @resources %>
  <tr>
    <td><%=h resource.name %></td>
    <td><%= link_to 'Manage Schedule', new_resource_free_path(resource) %></td>
    <td><%= link_to 'Edit', edit_resource_path(resource) %></td>
    <td><%= link_to 'Destroy', resource, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New resource', new_resource_path %>
