- stylesheet('resources')
- javascript('resources')

.span-16
  .span-15.box
    .span-12
      = label_tag "live_search_for_resources", "Find a resource by typing its name", :class => 'big'
      %br
      = text_field("resource", "name", :autocomplete => "off", :id => 'live_search_for_resources', :class => 'title big', :url => resources_path(:subdomain => current_subdomain))
      %span#search_progress.hide{:style => 'padding-left: 5px;'}= image_tag 'dots.gif'
    .span-3.last
      = link_to 'Add a Resource', add_resources_path
      
  .span-14.prepend-1.append-1.last
    = display_flash(:notice)
      
  .span-16.last
    .prepend-1.resources.header#search_text
      = @search_text
      
  .span-16.last#resources
    = render(:partial => 'company_resources.html.haml', :locals => {:company_resources => @company_resources})