- appointments.each do |appointment|
  .span-17.last{:class => cycle("shaded", "")}
    .span-5.prepend-1.invoice
      %h2= (appointment.resource || Person.anyone).name
      
    .span-3
      - if appointment.invoice
        %h2= appointment.invoice.total_as_money
        .invoice.hide
          = appointment.invoice.line_items.collect{ |li| li.chargeable.name }.join(", ")
      - else
        %h3{:style => 'padding-top: 5px;'}== Scheduled
        
    .span-4
      %h3{:style => 'padding-top: 5px; margin-bottom: 2px;'}= appointment.service.name
      %h4= appointment.customer.name
    
    .span-3.last
      %h3{:style => 'padding-top: 5px;'}= appointment.start_at.to_s(:appt_short_month_day_year)
    
