%h3.span-14.last
  .what
    .span-3.padding-bottom-5.text-align-right
      == What:
    .span-11.padding-bottom-5.last
      = appointment.service.name
  %br
  .with
    .span-3.padding-bottom-5.text-align-right
      == With:
    .span-11.padding-bottom-5.last
      = (appointment.schedulable || User.anyone).name
  %br
  .when
    .span-3.padding-bottom-5.text-align-right
      == When:
    .span-11.padding-bottom-5.last
      - if appointment.waitlist?
        == #{appointment.time.titleize}, #{appointment.when.titleize}
      - else
        = appointment.start_at.to_s(:appt_day_date_time)
  - unless appointment.customer.blank?
    %br
      .customer
        .span-3.padding-bottom-5.text-align-right
          == For:
        .span-11.padding-bottom-5.last
          = link_to appointment.customer.name, customer_path(appointment.customer, :subdomain => current_subdomain)
  - unless appointment.confirmation_code.blank?
    %br
      .confirmation
        .span-3.padding-bottom-5.text-align-right
          == Confirmation:
        .span-11.padding-bottom-5.last
          = appointment.confirmation_code
