%h3.span-15.last
  .what
    .span-3.padding-bottom-5.text-align-right
      == What:
    .span-12.padding-bottom-5.last
      = appointment.service.name
  .with
    .span-3.padding-bottom-5.text-align-right
      == With:
    .span-12.padding-bottom-5.last
      = (appointment.schedulable || User.anyone).name
    
  -# when is different for a work appointment vs. a waitlist apointment
  .when
  - if appointment.waitlist?
    .span-3.padding-bottom-5.text-align-right
      == When:
    .span-12.padding-bottom-5.last
      == #{appointment.start_at.to_s(:appt_short_month_day_year)} - #{appointment.end_at.to_s(:appt_short_month_day_year)}
  - else
    .span-3.padding-bottom-5.text-align-right
      == When:
    .span-12.padding-bottom-5.last
      = appointment.start_at.to_s(:appt_day_date_time)

  -# waitlist appointments have no duration
  - unless appointment.waitlist?
    .span-15.last.duration
      .span-3.padding-bottom-5.text-align-right
        == How Long:
      .span-12.padding-bottom-5.last
        = Duration.to_words(appointment.duration)
      
  - unless appointment.customer.blank?
    .span-15.last.customer{:style => 'padding-top: 10px;'}
      .span-3.padding-bottom-5.text-align-right
        == Customer:
      .span-12.last.padding-bottom-5
        %span#customer_default
          = link_to customer_display_name(appointment.customer, current_user), customer_path(appointment.customer, :subdomain => current_subdomain)
          -# the user can choose a customer for a new appointment
          - if appointment.new_record?
            == or
            %span= link_to 'Change Customer', '', :id => 'hide_customer_default', :class => 'admin'
        %span#customer_search.hide
          = label_tag "customer_search_text", "Find a customer by typing their name", :class => '', :style => 'font-weight: normal; color: #5500BB;'
          %br
          = text_field_tag("", "", :id => 'customer_search_text', :class => 'title', :url => customers_path)
          %br
          = link_to 'Cancel', '', :class => 'admin', :id => 'hide_customer_search'
          %span{:style => 'font-size: 0.8em;'}== or
          = link_to 'Create a New Customer', url_for(:controller => 'users', :action => 'new', :type => 'customer', :subdomain => current_subdomain), :class => 'admin'
          = hidden_field_tag :customer_search_id, 0
          
  -# work appointments have confirmation codes only after being created
  - unless appointment.confirmation_code.blank?
    .span-15.last.confirmation
      .span-3.padding-bottom-5.text-align-right
        == Confirmation:
      .span-12.padding-bottom-5.last
        = appointment.confirmation_code
