- appointments_by_day.each do |day, appointments|
  .span-15.last
    %h3== #{day.to_s(:appt_day)}
  - reset_cycle
  - appointments.each do |appointment|
    .span-15.prepend-1.last.appointment{:class => [appointment.mark_as, cycle("", "shaded")], :id => 'appointment_'+appointment.id.to_s}
      .span-4.time
        %h4{:style => 'margin-left: 5px;'}== #{appointment.start_at.to_s(:appt_time)} - #{appointment.end_at.to_s(:appt_time)}
      .span-3.service{:class => appointment.mark_as}
        %h6= appointment.service.name
      .span-3.customer
        %h6= appointment.customer ? appointment.customer.name : "&nbsp;"
      .span-2.location
        %h6= show_location? ? appointment.location.name : "&nbsp;"
      .span-2.prepend-1.last.action.hide{:id => "hover_appointment_#{appointment.id}"}
        - if appointment.free? and has_privilege?("update calendars", current_company)
          -# free appointments may be deleted with 'update calendars' permission
          = link_to('Delete', url_for(:subdomain => current_subdomain, :controller => 'appointments', :action => 'destroy', :id => appointment.id), :class => "ujs delete confirm", :question => "Are you sure you want to delete this appointment?")
        - elsif appointment.work? and has_privilege?("read work appointments", current_company)
          -# work appointments can be viewed with read permissions
          = link_to "Details", url_for(:controller => 'appointments', :id => appointment.id, :action => appointment.mark_as, :subdomain => current_subdomain)
  %hr.space
            
