- appointments_by_day.each do |day, appointments|
  .span-15.last.appointments.date{:id => "appointments_#{day.to_s(:appt_schedule_day)}", :style => 'padding-top: 5px;'}
    %h3= day.to_s(:appt_day)
    -# group appointments by people
    - reset_cycle
    - appointments.group_by { |appt| appt.schedulable }.each do |schedulable, appointments|
      - appointments.each do |appointment|
        .span-15.last.free.appointment[appointment]{:class => cycle("", "shaded")}
          .span-15.last
            .span-5.schedulable
              %h4{:style => 'margin-left: 5px;'}= schedulable.name
            .span-4.time
              == #{appointment.start_at.to_s(:appt_time)} - #{appointment.end_at.to_s(:appt_time)}
            .span-6.last.location
              = appointment.location.name
          .span-15.last{:style => 'margin-left: 5px;'}
            .span-2.pick_time
              = link_to "Pick a Time", ''
            .span-13.last.slider.hide
              = render(:partial => 'calendar/time_range_slider', :locals => free_appointment_possible_start_times(appointment, service.duration))
          .span-15.last.book_it.hide{:style => 'margin-left: 5px;'}
            = link_to('Book It', "javascript:void(0)", :url => schedule_path(:subdomain => current_subdomain, :schedulable_type => schedulable.tableize, :schedulable_id => schedulable.id, :service_id => service.id, :duration => service.duration, :start_at => appointment.start_at.to_s(:appt_schedule)))
