.span-15.last.appointment{:class => [(appointment.canceled? ? 'canceled' : appointment.mark_as), cycle("", "shaded")].join(' ')}[appointment]
  .span-4.time
    - if appointment.work? && appointment.canceled?
      %del== #{appointment.start_at.to_s(:appt_time)} - #{appointment.end_at.to_s(:appt_time)}
      %span== Canceled
    - else
      %span== #{appointment.start_at.to_s(:appt_time)} - #{appointment.end_at.to_s(:appt_time)}
  .span-3
    .span-3.last.service{:class => appointment.mark_as}
      - if ((appointment.work? || appointment.free?) && (has_privilege?("manage appointments", current_company) || has_privilege?("manage appointments", appointment)))
        -# work appointments can be viewed with read permissions
        = link_to appointment.service.name, appointment_path(appointment, :subdomain => current_subdomain)
      - else
        %h6= appointment.service.name
    - if show_location?
      .span-3.last.location
        %h6= appointment.location.name
  .span-4.customer
    - if appointment.free? && appointment.recur_parent
      %h6== (Recurring series)
    - else
      %h6= appointment.customer ? appointment.customer.name : "&nbsp;"
  .span-4.last
    - if has_privilege?("update calendars", current_company)
      / .span-4.last.edit
      /   -# free appointments may be deleted with 'update calendars' permission
      /   .span-3.edit-weekly
      /     - if appointment.recurrence_parent
      /       = link_to('Edit series', url_for(:subdomain => current_subdomain, :controller => 'appointments', :action => 'edit_weekly', :id => appointment.id, :series => 1), :class => "ujs edit")
      /     - else
      /       == &nbsp;
      /   -# You can't edit or delete a recurrence parent on its own - you will impact the entire series
      /   .span-1.last.edit-one
      /     - if !appointment.recurrence_parent?
      /       = link_to('Edit', url_for(:subdomain => current_subdomain, :controller => 'appointments', :action => 'edit', :id => appointment.id), :class => "ujs edit")
      /     - else
      /       == &nbsp;
      .span-4.last.cancel
        -# free appointments may be deleted with 'update calendars' permission
        .span-4.last.cancel-weekly
          - if appointment.recurrence_parent
            = link_to('Cancel series', url_for(:subdomain => current_subdomain, :controller => 'appointments', :action => 'destroy', :id => appointment.id, :series => 1), :class => "ujs delete confirm", :question => "Are you sure you want to cancel all future availability in this series?")
        -# You can't edit or delete a recurrence parent on its own - you will impact the entire series
        .span-4.last.cancel-one
          - if !appointment.recurrence_parent? && !appointment.canceled?
            - if appointment.free?
              = link_to('Cancel this availability', cancel_appointment_path(appointment), :class => "ujs cancel confirm", :question => "Are you sure you want to cancel this availability?")
            - else
              = link_to('Cancel this appointment', cancel_appointment_path(appointment), :class => "ujs cancel confirm", :question => "Are you sure you want to cancel this appointment?")
