- title("Manage Schedules")
- stylesheet('calendar', 'jquery.timepickr')
- javascript('calendar_block', 'ui.timepickr', 'jquery.timepickr')

.span-24.last#what
  .span-15.prepend-1.mat.padding-top-10
    .span-15.last.provider
      = label_tag "edit_provider", "Schedule available time for", :class => 'big'
      = select_tag('edit_provider', options_for_select(@providers.collect{ |o| [o.name, "#{o.tableize}/#{o.id}"]}, "#{@provider.tableize}/#{@provider.id}"), :class => 'text')
    %h4.span-15.last#how{:style => 'line-height: 25px;'}
      == Use the calendar to select the available days.
      %br
      == Select the start and end times.
      %br
      == Click 'Schedule Available Time' to add the time to your calendar.
  .span-7.prepend-1.last
    .sidebar.instructions.padding-5
      == What is available time?
      %ul{:style => 'font-size: 11px;'}
        %li== Its the time a person is available to take appointments.
      == Why does everyone start with no available time?
      %ul{:style => 'font-size: 11px;'}
        %li== Its the default, since the system has no way of knowing when a person is available to work.

.span-14.prepend-1.last
  = display_flash

- form_for(Appointment.new, :url => url_for(:subdomain => current_subdomain, :controller => 'appointments', :action => 'create_block'), :method => :post, :html => {:id => 'add_block_free_time_form'}) do |f|
  = hidden_field_tag :provider_type, @provider.tableize
  = hidden_field_tag :provider_id, @provider.id
  = hidden_field_tag :service_id, @free_service.id
  = hidden_field_tag :mark_as, Appointment::FREE
  
  %em.span-14.prepend-1.append-9.last#date_count
    == No dates selected
  
  %hr.space
  
  .span-23.prepend-1.last
    .span-14#free_work_calendar
      = render(:partial => 'shared/calendar', :locals => {:daterange => @daterange, :markings => @calendar_markings})
    .span-6.last#free_work_notes
      = render(:partial => 'calendar/free_work_notes', :locals => {:free_work_appts_by_day => @free_work_appts_by_day})

  %hr.space
  
  .span-14.prepend-1.last.prompt
    == On each of the days you pick, what time will availability start and end?
  .span-14.prepend-1.last
    .span-3.text_field_label
      = label_tag "starts_at", "Start Time:"
    .span-4.padding-top-5
      = text_field_tag 'starts_at', '', :class => 'timepicker std_text_field_style', :autocomplete => 'off'

  .span-14.prepend-1.last
    .span-3.text_field_label
      = label_tag "ends_at", "End Time:"
    .span-4.padding-top-5
      = text_field_tag 'ends_at', '', :class => 'timepicker std_text_field_style', :autocomplete => 'off'

  %hr.space

  #dates
    = text_field_tag 'dates[]', '', :id => 'date_template', :class => 'hide'

  %hr.space
  - if @provider.class.to_s == "Resource"
    .span-14.prepend-1.last.prompt
      == Advanced: How many #{@provider.name.downcase.pluralize} will be available:
    .span-14.prepend-1.last.hint.padding-bottom-10
      == This value is typically 1. It defaults to the capacity of the #{@provider.name}.
  - else
    .span-14.prepend-1.last.prompt
      == Advanced: What capacity will #{@provider.name} have during this free time?
    .span-14.prepend-1.last.hint.padding-bottom-10
      == This value is typically 1. It defaults to the provider's capacity, and should always be 1 or more.
  .span-14.prepend-1.last
    .span-3.text_field_label
      = label_tag "capacity", "Capacity:"
    .span-4.last
      = text_field_tag 'capacity', @provider.capacity, :class => 'std_text_field_style'

  %hr.space
  %hr.space
  
  .span-8.last.prepend-1
    %h2#submit_wrapper
      = f.submit "Schedule Available Time", :class => 'big button', :id => 'calendar_block_submit'
      %span{:style => 'font-size: 11px;'}
        == or
        = link_to 'Cancel', url_for(:controller => 'calendar', :action => 'show', :provider_type => @provider.tableize, :provider_id => @provider.id, :subdomain => current_subdomain)
  