- title("Schedules")
- javascript('date', 'jquery.bgiframe', 'jquery.datePicker', 'appointments')
- stylesheet('appointments', 'calendar', 'datePicker')

.span-16
  .span-15.prepend-1.last.mat
    - if current_company.schedulables_count == 0
      %h2
        == There must be at least 1 calendar
        = link_to '(add)', '' #resources_path
        == before you can view a schedule.
    - else
      .span-8
        %h3
          = label_tag "schedulable_id", "Schedule for", :class => 'big'
          = select_tag('schedulable_id', options_for_select(@schedulables.collect{ |o| [o.name, "#{o.tableize}/#{o.id}"]}, "#{@schedulable.tableize}/#{@schedulable.id}"), :class => 'text')
        %h3= @daterange.name
      .span-6.prepend-1.last
        #links
          - build_appointment_when_links(@person, Appointment::WHEN_WEEKS, @when, :default => Appointment::WHEN_THIS_WEEK) do |link, separator|
            = link
            = separator
          %br
          == or
          %br
          = link_to "Use a Date Range", '', :id => 'show_dates'

        #dates.hide
          = render(:partial => 'shared/date_range', :locals => {:object => Appointment.new, :url => url_for(:action => 'search', :schedulable => @schedulable.class.to_s.tableize, :id => @schedulable.id, :subdomain => current_subdomain)})
      
  - unless current_company.schedulables_count == 0
    .span-15.prepend-1.last
      #appointment_flash

    .span-15.prepend-1.last
      = display_flash(:notice)
      
    .span-15.prepend-1.last
      %h2
        = @daterange.name
      .span-15.last#free_calendar
        = render(:partial => 'shared/calendar.html.haml', :locals => {:total_days => @daterange.days, :start_day => @daterange.start_at, :today => DateRange.today, :markings => @calendar_markings})
      %h3.span-15.last#appointments_count
        = render(:partial => 'appointments_count.html.haml', :locals => {:count => @appointments.size})
      .span-15.last#free_schedule
        = render(:partial => 'appointments.html.haml', :locals => {:appointments_by_day => @appointments_by_day})
  
- unless current_company.schedulables_count == 0
  .span-6.prepend-1.last.mat
    = label_tag 'add_free_time_form', "Schedule Available Time", :class => 'big'
    - form_for(Appointment.new, :url => url_for(:subdomain => current_subdomain, :controller => 'free', :action => 'create', :schedulable => "#{@schedulable.tableize}/#{@schedulable.id}", :service_id => @free_service), :method => :post, :html => {:id => 'add_free_time_form'}) do |f|
      = hidden_field_tag :when, @when
      .add_free_time
        .span-7.last.when
          == When
        .span-7.last
          = select_tag('dates', options_for_select(@daterange.collect { |x| [x.to_s(:appt_day), x.to_s(:appt_schedule_day)] }))
        .span-7.last#start_at_label
          == Start
        .span-7.last#start_at_text
          = text_field_tag 'start_at', '', :size => 10, :class => 'required'
          %span.example== e.g. 8:15 am
        .span-7.last#end_at_label
          == End
        .span-7.last.append-bottom#end_at_text
          = text_field_tag 'end_at', '', :size => 10, :class => 'required'
          %span.example== e.g. 5:30 pm
        .span-7.last
          #submit= f.submit 'Add', :name => nil, :class => 'button big'
          .hide#progress= image_tag 'barbershop.gif'
       
    %hr.space   
    %h4== or
    %h4= link_to "Schedule blocks of available time", url_for(:controller => 'free', :action => 'new', :style => 'calendar', :subdomain => current_subdomain), :class => 'rounded button'
    %h4= link_to "Schedule blocks of available time (version 2)", url_for(:controller => 'free', :action => 'new', :style => 'daily', :subdomain => current_subdomain)

