<div class='page_header half_width'>
  <span class='other_indexes'>
    <%= link_to "Upcoming", resource_appointments_path(:subdomain => @subdomain, :resource_id => @resource.id), :class => add_class_if(@when == :upcoming, 'current') %> |
    <%= link_to "All", resource_appointments_path(:subdomain => @subdomain, :resource_id => @resource.id, :when => 'all'), :class => add_class_if(@when == :all, 'current') %> |
    <%= link_to "Past", resource_appointments_path(:subdomain => @subdomain, :resource_id => @resource.id, :when => 'past'), :class => add_class_if(@when == :past, 'current')%>
  </span>
  <h1 class='index'>
    Appointments for
    <%= select_tag 'resource_id', options_for_select(@resources.collect{ |r| [r.name, r.id]}, @resource.id), :onchange => "window.location = '/resources/' + $F(this) + '/appointments'" %>
  </h1>
</div>

<div id='appointments'>
  <% @appt_days.each do |day, appointments| %>
    <h3><%= day.to_s(:appt_day) %></h3>
    <table>
      <tr>
        <th>Job</th>
        <th>Resource</th>
        <th>Mark As</th>
        <th>Start at</th>
        <th>End at</th>
      </tr>
    <% appointments.each do |appointment| %>
      <tr>
        <td><%=h appointment.job.name %></td>
        <td><%=h appointment.resource.name %></td>
        <td><%=h appointment.mark_as %></td>
        <td><%=h appointment.start_at.to_s(:appt_time) %></td>
        <td><%=h appointment.end_at.to_s(:appt_time) %></td>
        <td><%= link_to 'Show', appointment %></td>
        <td><%= link_to 'Edit', edit_appointment_path(appointment) %></td>
        <td><%# link_to 'Destroy', appointment, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end # each appointment %>
    </table>
  <% end # appointment days %>
</div>