<div class='page_header short_width'>
  <span class='other_indexes'>
    <%= link_to "Upcoming", appointments_path(:subdomain => @subdomain), :class => add_class_if(@when == :upcoming, 'current') %> |
    <%= link_to "All", appointments_path(:subdomain => @subdomain, :when => 'all'), :class => add_class_if(@when == :all, 'current') %> |
    <%= link_to "Past", appointments_path(:subdomain => @subdomain, :when => 'past'), :class => add_class_if(@when == :past, 'current')%>
  </span>
  <h1 class='index'>Appointments</h1>
</div>

<% @appt_days.each do |day, appointments| %>
  <h3><%= day.to_s(:appt_day) %></h3>
  <table>
    <tr>
      <th>Job</th>
      <th>Resource</th>
      <th>Mark As</th>
      <th>Start at</th>
      <th>End at</th>
    </tr>
  <% appointments.each do |appointment| %>
    <tr>
      <td><%=h appointment.job.name %></td>
      <td><%=h appointment.resource.name %></td>
      <td><%=h appointment.mark_as %></td>
      <td><%=h appointment.start_at.to_s(:appt_time) %></td>
      <td><%=h appointment.end_at.to_s(:appt_time) %></td>
      <td><%= link_to 'Show', appointment %></td>
      <td><%= link_to 'Edit', edit_appointment_path(appointment) %></td>
      <td><%# link_to 'Destroy', appointment, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end # each appointment %>
  </table>
<% end # appointment days %>
