- title(@title)
- javascript('appointments')
- stylesheet('jquery.autocomplete')

.span-24.mat.padding-bottom-10
  .span-15.prepend-1
    %h2== Please confirm your appointment.
      
  .schedule_form.span-15.prepend-1
    - form_for(@appointment, :url => url_for(:action => 'create', :subdomain => current_subdomain), :html => {:method => :post}) do |f|
      = hidden_field_tag :schedulable_type, @schedulable.tableize
      = hidden_field_tag :schedulable_id, @schedulable.id
      = hidden_field_tag :service_id, @service.id
      = hidden_field_tag :customer_id, @customer.id
      = hidden_field_tag :dates, @appt_date
      = hidden_field_tag :mark_as, @mark_as
      = hidden_field_tag :start_at, @appt_time_start_at
      = hidden_field_tag :end_at, @appt_time_end_at
      = hidden_field_tag :duration, @duration
      = hidden_field_tag :when, @when.to_url_param unless @when.blank?
      = hidden_field_tag :time, @time.to_url_param unless @time.blank?
      = hidden_field_tag :type, @type
      
      - unless @appointment.errors.blank?
        .span-14.notice.last
          = error_messages_for('appointment', :header_message => nil)
      .span-15.last
        = render :partial => 'appointment_header', :locals => {:appointment => @appointment}
      .span-14.prepend-1.last
        %br
        = f.submit "Confirm", :name => '', :style => 'font-size: 15px;'
