- title(@title)
- javascript('appointments', 'rpx')
- stylesheet('appointments', 'jquery.autocomplete')

.span-24.mat.padding-top-10.padding-bottom-10
  .span-22.prepend-1
    %h2== Review and confirm your appointment
  .span-22.prepend-1
    - if @reschedule_id
      %span{:style => 'background-color: #FFCC00; font-size: 1.2em;'}== When you confirm this appointment, your old appointment will automatically be canceled.
      
%hr.space

- form_for(@appointment, :url => url_for(:action => "create_#{@appointment.mark_as}", :subdomain => current_subdomain), :html => {:method => :post, :id => 'confirm_appointment_form'}) do |f|
  = hidden_field_tag :customer_id, @customer.id

  - unless @appointment.errors.blank?
    -# show any appointment errors
    .span-14.notice.last
      = error_messages_for('appointment', :header_message => nil)

  .span-16.last
    = render :partial => 'appointment', :locals => {:appointment => @appointment, :customer_signup => @customer_signup}

  %hr.space
  
  -# confirm appointment
  .span-8.prepend-1.last
    #confirm_appointment
      = link_to "Confirm", '', :class => 'rounded button color', :id => 'confirm_appointment_submit', :style => 'font-size: 1.5em; color: #FFFFFF; font-weight: normal;'
      %span#cancel{:style => 'font-size: 1.0em;'}
        == &nbsp;or&nbsp;
        = link_to 'Cancel', openings_path
