<div id ='schedule'>
  <h2>Schedule an appointment</h2>
  <br />
  <% remote_form_for(@appointment, :url => schedule_appointments_path, :method => :post) do |f| %>
    What: 
    <%= select_tag 'appointment[job_id]', options_for_select(@jobs.collect{ |j| [j.name, j.id]}, @appointment.job_id) %>&nbsp;
    With:
    <%= select_tag 'appointment[resource_id]', options_for_select(@resources.collect{ |r| [r.name, r.id]}, @appointment.resource_id) %>&nbsp;
    When:
    <%= f.text_field :when_range %>
    <%= f.hidden_field :customer_id, :value => 0 %>
    <%= f.hidden_field :company_id, :value => @current_company.id %>
    <%= f.submit "Schedule" %>
  <% end %>
</div>

<br />
<div id='free'>
</div>
