- javascript('appointments')

.span-16
  .span-15.prepend-1.mat
    - form_tag(search_appointments_path(:subdomain => current_subdomain), :method => :post, :id => "search_appointments_form") do |f|
      .span-15.last
        = label_tag "appointment_code", "Find an appointment by typing a confirmation code", :class => 'big'
        %br
        = text_field('appointment', 'code', :value => @code, :class => 'title big required')
        == &nbsp;
        %span#submit= submit_tag 'Search', :name => nil, :class => 'submit button big'
        %span.hide#progress= image_tag 'blueredsphere.gif', :size => '25x25', :style => 'vertical-align: text-bottom;'

.span-7.prepend-1.last
  .sidebar.instructions.padding-5
    == How do I find my appointment?
    %ul
      %li== Enter your confirmation code and click on 'Search'
      == or
      %li== Login to access your account and view your appointment history
    == Where can I find my confirmation code?
    %ul
      %li== The confirmation email that was sent to you contains your confirmation code
    == What if I deleted my confirmation email?
    %ul
      %li== Login with your account info.
    == What if I forgot my password?
    %ul
      %l1== Select the 'forgot my password' link and you will be emailed a new password.

.span-16.last
  %span.code#message
    = @error_message

