- stylesheet('appointments', 'notes')
- javascript('appointments', 'notes')

.span-24.mat
  .span-24
    .span-10.prepend-1
      - if @confirmation
        %h2==Appointment confirmation
      - else
        %h2==Appointment details    
    .span-13.last
      - if @appointment.state == 'upcoming'
        -# upcoming appointments can be canceled and checked-out
        = link_to('Cancel', cancel_appointment_path(@appointment), :class => 'admin ujs confirm', :question => "Are you sure you want to cancel this appointment?")
        == &nbsp;|
        = link_to('Checkout', checkout_appointment_path(@appointment), :class => 'admin')
  .span-24.last
    = render(:partial => 'appointment_header', :locals => {:appointment => @appointment})

.span-14.prepend-1
  %br
  = display_flash(:all)
  
.span-15.prepend-1.last
  - if @appointment.state == 'completed'
    -# show invoice
    #invoice
      = render(:partial => 'invoices/invoice.html.haml', :locals => {:invoice => @invoice, :services => @services, :products => @products, :mode => @mode})

.span-15.prepend-1  
  -# notes flash message
  #note_flash
  
  -# add note
  .new_note#new_note_container
    %p
      %h4== Add a note about this appointment
      = render(:partial => 'notes/add_note.html.haml', :locals => {:note => @note, :subject => @appointment, :subdomain => current_subdomain})
  %p
  -# appointment notes
  #notes_collection
    = render(:partial => 'notes/notes.html.haml', :locals => {:notes => @notes})
        
