- stylesheet('appointments')
- stylesheet('notes')

.container
  .left
    .section_header
      %span.other_indexes
        - if @appointment.state == 'upcoming'
          -# upcoming appointments can be canceled and checked-out
          = link_to 'Cancel', cancel_appointment_path(@appointment)
          == &nbsp;|
          = link_to 'Checkout', checkout_appointment_path(@appointment)
      %table.appointment_header
        %tr
          %td.what
            = @appointment.service.name
            == with
            = @appointment.resource.name
        %tr
          %td.when
            = @appointment.start_at.to_s(:appt_day_date_time)
        %tr
          %td.customer
            - unless @appointment.customer.blank?
              = link_to @appointment.customer.name, customer_path(@appointment.customer)
        %tr
          %td.confirmation
            == Confirmation code:
            = @appointment.confirmation_code
            
    .section_body
      - if @appointment.state == 'upcoming' and @confirmation
        -# show appointment confirmation notice
        .notice
          == A confirmation email has also been sent to
          = @appointment.customer.email unless @appointment.customer.blank?
      - elsif @appointment.state == 'completed'
        -# appointment is completed
        .appointment_header
          == Receipt
        .appointment_details
          %table.receipt
            %tr
              %td.heading
                == Total
              %td.price
                = @appointment.receipt.total
            %tr
              %td.heading
                == Tip
              %td.price
                = @appointment.receipt.tip
                
      - if @appointment.state == 'upcoming' and !@confirmation
        -# notes flash message
        #note_flash
      
        -# appointment notes
        .new_note#new_note_container
          %p== Add a note about this appointment
          - form_remote_for(@note, :id => 'new_note', :class => 'new_note', :url => notes_path(:subdomain => @subdomain), :method => :post) do |f|
            = hidden_field(:note, :subject_id, :value => @appointment.id)
            = hidden_field(:note, :subject_type, :value => @appointment.class.to_s)
            = f.text_area(:comment, :rows => 3, :style => "width: 90%;")
            %p
            = f.submit 'Add note', :name => nil
        %p
        #notes_collection
          = render(:partial => 'notes/notes.html.haml', :locals => {:notes => @notes})

  - if false #@appointment.state == 'upcoming' and !@confirmation
    -# upcoming appointments can be checked-out
    .right
      .col
        .sidebar_form
          .sidebar_header
            = render(:partial => 'checkout.html.haml', :locals => {:appointment => @appointment})
            
        
