- stylesheet('appointments', 'notes')
- javascript('appointments', 'notes')

.span-24.mat.padding-top-10
  .span-24
    .span-10.prepend-1
      - if @confirmation
        %h2==Appointment confirmation
      - else
        %h2==Appointment details
    .span-13.last
      - if has_privilege?('update calendars', current_company)
        - build_appointment_state_transition_links(@appointment) do |text, url, separator|
          = link_to text, url, :class => 'admin'
          = separator
        -#= link_to('Cancel', cancel_appointment_path(@appointment), :class => 'admin ujs confirm', :question => "Are you sure you want to cancel this appointment?")
        -#== &nbsp;|
        -#= link_to('Checkout', checkout_appointment_path(@appointment), :class => 'admin')
  .span-24.last
    = render(:partial => 'appointment_header', :locals => {:appointment => @appointment})

.span-14.prepend-1.last
  = display_flash
  
-#.span-15.prepend-1.last
  -#- if @appointment.state == 'completed'
    -##invoice
      -#= render(:partial => 'invoices/invoice.html.haml', :locals => {:invoice => @invoice, :services => @services, :products => @products, :mode => @mode})

  -# add note
  .new_note#new_note_container
    %p
      %h4== Add a note about this appointment
      = render(:partial => 'notes/add_note.html.haml', :locals => {:note => @note, :subject => @appointment, :subdomain => current_subdomain})
  %p
  -# appointment notes
  #notes_collection
    = render(:partial => 'notes/notes.html.haml', :locals => {:notes => @notes})
        
