- stylesheet('appointments', 'notes')
- javascript('appointments', 'notes')

.span-20
  .span-20.last.box
    .span-14
      %h3
        = render(:partial => 'appointment_header.html.haml', :locals => {:appointment => @appointment})
    .span-5.last
      - if @appointment.state == 'upcoming'
        -# upcoming appointments can be canceled and checked-out
        = link_to 'Cancel', cancel_appointment_path(@appointment)
        == &nbsp;|
        = link_to 'Checkout', checkout_appointment_path(@appointment)
  
.span-15.prepend-1.last
  - if @appointment.state == 'upcoming' and @confirmation
    -# show appointment confirmation notice
    .notice
      == A confirmation email has also been sent to
      = @appointment.customer.email unless @appointment.customer.blank?
  - elsif @appointment.state == 'completed'
    -# appointment is completed
    .appointment_header
      == Receipt

.span-15.prepend-1  
  - if @appointment.state == 'upcoming' and !@confirmation
    -# notes flash message
    #note_flash
    
    -# add note
    .new_note#new_note_container
      %p
        %h4== Add a note about this appointment
        = render(:partial => 'notes/add_note.html.haml', :locals => {:note => @note, :subject => @appointment, :subdomain => @subdomain})
    %p
    -# appointment notes
    #notes_collection
      = render(:partial => 'notes/notes.html.haml', :locals => {:notes => @notes})
        
