<p>
  <b>Company:</b>
  <%=h @appointment.company_id %>
</p>

<p>
  <b>Start at:</b>
  <%=h @appointment.start_at %>
</p>

<p>
  <b>End at:</b>
  <%=h @appointment.end_at %>
</p>


<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
