- stylesheet('appointments', 'notes')
- javascript('appointments', 'notes')

.span-18
  .span-18.last.box
    .span-14
      %h3
        = render(:partial => 'appointment_header.html.haml', :locals => {:appointment => @appointment})
    .span-4.last
      - if @appointment.state == 'upcoming'
        -# upcoming appointments can be canceled and checked-out
        = link_to('Cancel', cancel_appointment_path(@appointment), :class => 'admin ujs delete confirm', :question => "Are you sure you want to cancel this appointment?")
        == &nbsp;|
        = link_to('Checkout', checkout_appointment_path(@appointment), :class => 'admin')
  
.span-15.prepend-1.last
  - if @confirmation
    -# show appointment confirmation notice
    .notice
      == A confirmation email has also been sent to
      = @appointment.customer.email unless @appointment.customer.blank?
      
  - if @appointment.state == 'completed'
    -# show invoice
    #invoice
      = render(:partial => 'invoices/invoice.html.haml', :locals => {:invoice => @invoice, :services => @services, :products => @products, :mode => @mode})

.span-15.prepend-1  
  -# notes flash message
  #note_flash
  
  -# add note
  .new_note#new_note_container
    %p
      %h4== Add a note about this appointment
      = render(:partial => 'notes/add_note.html.haml', :locals => {:note => @note, :subject => @appointment, :subdomain => @subdomain})
  %p
  -# appointment notes
  #notes_collection
    = render(:partial => 'notes/notes.html.haml', :locals => {:notes => @notes})
        
