<p>
  <b>Job:</b>
  <%=h @appointment.job.name %>
</p>

<p>
  <b>Resource:</b>
  <%=h @appointment.resource.name %>
</p>

<p>
  <b>Start at:</b>
  <%=h @appointment.start_at.to_s(:appt_date_time) %>
</p>

<p>
  <b>End at:</b>
  <%=h @appointment.end_at.to_s(:appt_date_time) %>
</p>


<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
