- title(@title)
- stylesheet('appointments', 'notes')
- javascript('appointments', 'notes')

.span-24.mat.padding-top-10.padding-bottom-10
  .span-23.prepend-1
    %h2{:style => 'margin-bottom: 5px;'}
      = @title
      %span{:style => 'margin-left: 5px; font-size: 0.5em;'}= link_to 'Back', @back, :style => 'color: #FF1100;'

    -# appointment state
    %h4{:style => 'margin-bottom: 5px;'}
      - if @appointment.canceled?
        == Canceled: #{@appointment.canceled_at.to_s(:appt_day_date_time)}
      - else
        == #{@appointment.state.titleize}
    
    -# allow owners and managers to change appointment state
    -#- if (@owner or @manager) and @appointment.upcoming?
    - if has_privilege?('update calendars', current_company)
      %h4
        = link_to 'Cancel appointment', cancel_appointment_path(@appointment, :subdomain => current_subdomain), :class => 'admin', :id => 'cancel_appointment'
      
%hr.space

.span-14.prepend-1.last
  = display_flash

.span-23.prepend-1.last
  = render(:partial => 'appointment', :locals => {:appointment => @appointment, :customer_signup => false})

  -# add note
  .new_note#new_note_container
    %p
    %h4== Add a note about this appointment
    = render(:partial => 'notes/add_note.html.haml', :locals => {:note => @note, :subject => @appointment, :subdomain => current_subdomain})
  %p
  -# appointment notes
  #notes_collection
    = render(:partial => 'notes/notes.html.haml', :locals => {:notes => @notes})
