- title(@title)
- stylesheet('appointments', 'notes')
- javascript('appointments', 'notes')

.span-24.mat.padding-top-10.padding-bottom-10
  .span-23.prepend-1
    %h2{:style => 'margin-bottom: 5px;'}
      = @title
      %span{:style => 'margin-left: 5px; font-size: 0.5em;'}= link_to 'Back', @back, :style => 'color: #FF1100;'
    -# appointment state
    - if @appointment.canceled?
      %h4.canceled{:style => 'margin-bottom: 5px;'}
        == Canceled: #{@appointment.canceled_at.to_s(:appt_day_date_time)}
    - else
      %h4.work{:style => 'margin-bottom: 5px;'}
        == #{@appointment.state.titleize}: #{appointment_starts_at_distance_in_words(@appointment)}

    -# allow owners and managers to change appointment state
    -#- if (@owner or @manager) and @appointment.confirmed?
    - if has_privilege?('update calendars', current_company)
      %h4
        - build_appointment_state_transition_links(@appointment) do |text, url, separator|
          = link_to text, url, :class => 'admin'
          = separator
            
%hr.space

.span-14.prepend-1.last
  = display_flash

.span-23.prepend-1
  = render(:partial => 'appointments/appointment', :locals => {:appointment => @appointment, :customer_signup => false})

%hr.space

.span-23.prepend-1.text
  -# add note
  .new_note#new_note_container
    %p
    %h4== Add a note about this appointment
    = render(:partial => 'notes/add_note.html.haml', :locals => {:note => @note, :subject => @appointment, :subdomain => current_subdomain})
  %p
  -# appointment notes
  #notes_collection
    = render(:partial => 'notes/notes.html.haml', :locals => {:notes => @notes})




