- products.each do |product|
  .span-16.last.letterbox.product{:class => cycle("shaded", "")}
    .span-6.prepend-1.name
      %h2{:style => "margin-bottom: 0px;"}= product.name
    .span-3.price
      %h3= product.price
    .span-3.inventory
      %h3== #{product.inventory} left
    .span-3.last.action
      = link_to "Edit", edit_product_path(product, :subdomain => @subdomain), :class => 'admin'
      &nbsp;
      = link_to("Remove", product_path(product, :subdomain => @subdomain), :class => 'admin ujs delete confirm', :question => "Are you sure you want to remove this product?")
