- title("Manage Schedules")
- stylesheet('calendar')
- javascript('free_calendar', 'time_range_slider')

.span-24.last#what
  .span-15.box
    .span-15.last#person
      = label_tag "schedulable", "Schedule available time for", :class => 'big'
      = select_tag('schedulable', options_for_select(@schedulables.collect{ |o| [o.name, "#{o.tableize}/#{o.id}"]}, "#{@schedulable.tableize}/#{@schedulable.id}"), :class => 'text')
    %h4.span-15.last#how{:style => 'line-height: 25px;'}
      == Use the calendar to select the available days.
      %br
      == Use the time range sliders to select the available time range.
      %br
      == Click the 'Schedule' button to add the selected available time to your calendar.
  .span-7.prepend-1.last
    .sidebar.instructions.padding-5
      == What is available time?
      %ul{:style => 'font-size: 11px;'}
        %li== Its the time a person is available to take appointments.
      == Why does everyone start with no available time?
      %ul{:style => 'font-size: 11px;'}
        %li== Its the default, since the system has no way of knowing when a person is available to work.

- form_for(Appointment.new, :url => url_for(:subdomain => current_subdomain, :controller => 'appointments', :action => 'create'), :method => :post, :html => {:id => 'add_free_time_form'}) do |f|
  = hidden_field_tag :schedulable, "#{@schedulable.tableize}/#{@schedulable.id}"
  = hidden_field_tag :service_id, @free_service.id
  = hidden_field_tag :mark_as, Appointment::FREE
  
  .span-14.prepend-1.append-9.last
    = display_flash(:notice)
    = display_flash(:error)

  %em.span-14.prepend-1.append-9.last#date_count
    == No dates selected
  
  %hr.space
  
  .span-23.prepend-1.last
    .span-14#free_calendar
      = render(:partial => 'shared/calendar', :locals => {:total_days => @daterange.days, :start_day => @daterange.start_at, :today => DateRange.today, :markings => @calendar_markings})
    .span-6.last#unscheduled_list
      = render(:partial => 'free/appointments_unscheduled', :locals => {:unscheduled_appts => @unscheduled_appts})
        
  .span-14.prepend-1.last{:style => 'font-size: 13px; margin-bottom: 7px;'}
    .span-2
      %span== Start Time:
    .span-12.last
      = select_tag('start_time_of_day', options_for_select(@tod, @tod_start), :class => 'text', :style => 'margin: 0px;')
      %span{:id => 'start_time', :style => 'font-size 13px; padding-left: 5px;'}==
  .span-14.prepend-1.sliders#slider_start
    .span-20.slider.hide{:id => 'morning'}
      = render(:partial => 'free/time_range_slider', :locals => {:start_hour => 8, :start_minute => 0, :end_hour => 12, :end_minute => 0, :minute_interval => 15, :display => 'start_time'})
    .span-20.slider.hide{:id => 'afternoon'}
      = render(:partial => 'free/time_range_slider', :locals => {:start_hour => 12, :start_minute => 0, :end_hour => 17, :end_minute => 0, :minute_interval => 15, :display => 'start_time'})

  %hr.space

  .span-14.prepend-1.last{:style => 'font-size: 13px; margin-bottom: 7px;'}
    .span-2
      == End Time:
    .span-12.last
      = select_tag('end_time_of_day', options_for_select(@tod, @tod_end), :class => 'text', :style => 'margin: 0px;')
      %span{:id => 'end_time', :style => 'font-size 13px; padding-left: 5px;'}==
  .span-14.prepend-1.sliders#slider_end
    .span-20.slider.hide{:id => 'morning'}
      = render(:partial => 'free/time_range_slider', :locals => {:start_hour => 8, :start_minute => 0, :end_hour => 12, :end_minute => 0, :minute_interval => 15, :display => 'end_time'})
    .span-20.slider.hide{:id => 'afternoon'}
      = render(:partial => 'free/time_range_slider', :locals => {:start_hour => 12, :start_minute => 0, :end_hour => 17, :end_minute => 0, :minute_interval => 15, :display => 'end_time'})
  
  %hr.space
    
  #dates
    = text_field_tag 'dates[]', 'date', :id => 'template', :class => 'hide'
    = text_field 'start_at', '', :name => 'start_at', :id => 'start_at', :class => 'hide'
    = text_field 'end_at', '', :name => 'end_at', :id => 'end_at', :class => 'hide'

  %hr.space
  %hr.space
  
  .span-16.last.prepend-1
    %h2#submit
      = f.submit "Schedule Available Time", :class => 'big button'
      %span{:style => 'font-size: 11px;'}
        == or
        = link_to 'Cancel', url_for(:controller => 'appointments', :action => 'index', :schedulable_type => @schedulable.tableize, :schedulable_id => @schedulable.id, :subdomain => current_subdomain)
  