- title("Manage Schedules")
- stylesheet('ui.core', 'ui.theme', 'ui.datepicker')
- javascript('ui.core', 'ui.datepicker', 'free')

.span-17.box
  %h2== Schedule available time
  %h4== Schedule available time slots by specifying a day and time range

- form_for(Appointment.new, :url => url_for(:subdomain => current_subdomain, :controller => 'free', :action => 'create', :person_id => @person.id), :method => :post, :html => {:id => 'add_free_time_form'}) do |f|
  .span-17#free_time_list
    = render(:partial => 'daily')

  %hr.space

  .span-16.prepend-1.add
    %h4= link_to_function "Add another", :id => "add_more_dates"
  
  %hr.space

  .span-16.prepend-1
    %h2#submit
      = f.submit "Schedule Available Time", :class => 'big button'
      %span{:style => 'font-size: 11px;'}
        == or
        = link_to 'Cancel', person_appointments_path(:subdomain => current_subdomain)
    #progress.hide= image_tag 'barbershop.gif'
  
