.container
  .left
    .section_header
      %h1.index
        == Schedule an Appointment
        %p
        - form_for(@query, :url => url_for(:action => 'search', :subdomain => @subdomain), :method => :post) do |f|
          What:
          %span#what= select_tag('job_id', options_for_select(@jobs.collect{ |j| [j.name, j.id]}, @job.id))
          &nbsp;
          Who:
          %span#who= select_tag('resource_id', options_for_select(@resources.collect{ |r| [r.name, r.id]}, @resource.id))
          &nbsp;
          When:
          %span#when= select_tag('when', options_for_select(Appointment::WHENS, @when))
          %span#search{:style => "padding: 5px;" }= f.submit 'Search', :name => nil
    - unless @when.blank?
      .section_body
        %h1== Available appointments
        %h2== #{@when.titleize}
        #free_calendar
          = render(:partial => 'shared/calendar.html.haml', :locals => {:total_days => @daterange.days, :start_day => @daterange.start_at, :today => DateRange.today, :markings => @calendar_markings})
          
        %h2#timeslots_count
          %span.count== #{pluralize(@free_timeslots.size, 'available appointment')}
        .timeslots#free_timeslots
          = render(:partial => 'timeslots.html.haml', :locals => {:timeslots_by_day => @free_timeslots_by_day, :job => @job})
      
  .right
    .col
      .instructions
        - if @when.blank?
          == How do I schedule an appointment?
          %ul
            %li== Select appointment criteria and click on 'Search'
        - elsif !@free_timeslots.blank?
          == What can I do here?
          %ul
            %li== Select an available appointment
            %span== or
            %li== Select different appointment criteria and search again
        - else
          == What can I do here?
          %ul
            %li== Select different appointment criteria and search again
