.plan-details
  %h4.bottom
    - if plan.cost > 0
      = plan_billing_details(plan, price)
    - else
      = "Free!!"
  %ul
    %li.max_locations
      = plan_limit_text(plan, 'locations')
    %li.max_providers
      = plan_limit_text(plan, 'providers')
    %li.billing_info
      - if plan.start_billing_in_time_amount && plan.between_billing_time_amount
        = "Billing starts after #{pluralize(plan.start_billing_in_time_amount, plan.start_billing_in_time_unit)} and is billed #{plan_billing_regularity(plan)}"
      - else
        = "Great for evaluation or personal needs."
