.plan-details
  %h4.bottom
    - if plan.cost
      = "#{number_to_currency(plan.cost)} every #{pluralize(plan.months_between_bills, 'month')}."
    - else
      = "Free!!"
  %ul
    %li.max_locations
      - if plan.max_locations
        = "Up to #{pluralize plan.max_locations, "location"}"
      - else
        Unlimited locations!
    %li.max_resources
      - if plan.max_resources
        = "Up to #{pluralize plan.max_resources, "resource"}"
      - else
        Unlimited resources!
    %li.billing_info
      - if plan.days_to_first_bill && plan.months_between_bills
        = "Billing starts after #{pluralize(plan.days_to_first_bill, 'day')} and is billed every #{pluralize(plan.months_between_bills, 'month')}"
      - else
        = "Great for evaluation or personal needs."
