-# set context based on current_company
- if current_company
  - context     = 'Select'
  - url_params  = {:controller => 'subscriptions', :action => 'update', :id => @subscription.id, :subdomain => current_subdomain}
  - id_sym      = :plan_id
  - features    = false
- else
  - context     = 'Signup'
  - url_params  = {:controller => 'signup', :action => 'new'}
  - id_sym      = :id
  - features    = true
 
.span-17.plans
  .span-17.last.plans.header.rounded.button.color
    .span-3== Plan
    .span-5== Locations
    .span-5== Resources
    .span-3== Monthly Cost
    
  %hr.space
  
  - plans.each do |plan|
    .span-17.last.plan.details{:class => cycle("", "")}
      .span-3.plan.name= plan.name
      .span-5.plan.locations= plan.max_locations ? "Up to #{pluralize(plan.max_locations, "location")}" : 'Unlimited'
      .span-5.plan.resources= plan.max_resources ? "Up to #{pluralize(plan.max_resources, "resource")}" : 'Unlimited'
      .span-1.plan.cost= plan.cost > 0 ? number_to_currency(plan.cost/100, :precision => 0) : 'Free'
      .span-2.plan.signup= link_to context, url_for(url_params.update(id_sym => plan.id)), :class => 'rounded button', :style => 'padding: 0px 7px;'

- if features
  .span-5.prepend-1
    %h2.span-4.plans.features{:style => 'color: #5500BB; font-weight: bold;'}== Features:
    %h4
      %ul
        %li.padding-bottom-10== Online scheduling
        %li.padding-bottom-10== Email, SMS notifications
  