- javascript('reports')

- title(@title || 'Reports')

.span-23.prepend-1.mat.padding-top-10.padding-bottom-10
  %h2== Build Your Report
  %h4== Select report parameters and click 'Generate'
  
%hr.space

- form_for(User.new, :url => route_reports_path, :method => :post, :html => {:id => 'report_form'}) do |f|

  .span-15.prepend-1.last{:style => 'font-size: 1.3em; margin-bottom: 7px;'}
    .span-2.padding-top-10
      %h5== Provider:
    .span-12.last.padding-bottom-10
      = select_tag('report[provider]', options_for_select(@providers.collect{ |o| [o.name, "#{o.tableize}/#{o.id}"]}, "#{@selected.tableize}/#{@selected.id}"), :style => "width: 125px; align: top; font-size: 1.2em;")

  .span-15.prepend-1.last{:style => 'font-size: 1.3em; margin-bottom: 7px;'}
    .span-2
      %h5== Start Date:
    .span-12.last.padding-bottom-10
      = text_field_tag 'report[start_date]', '', :class => 'datepicker', :style => 'width: 90px; font-size: 1.0em; padding: 3px;', :autocomplete => 'off'

  .span-15.prepend-1.last{:style => 'font-size: 1.3em; margin-bottom: 7px;'}
    .span-2
      %h5== End Date:
    .span-12.last.padding-bottom-10
      = text_field_tag 'report[end_date]', '', :class => 'datepicker', :style => 'width: 90px; font-size: 1.0em; padding: 3px;', :autocomplete => 'off'

  .span-4.prepend-1.append-11.last
    %h4= link_to 'Generate', '', :class => 'rounded button color', :id => 'report_submit'
