.location.span-15.last
  - form_for(location, :url => submit_url, :html => {:id => 'edit_location_form'}) do |form|
    -unless location.errors.empty?
      -# location errors
      .notice= error_messages_for :location

    .span-15.last.padding-bottom-10
      .span-3.label.block
        %h4.bigger.block.bottom= form.label :name, "Name:"
      .span-12.last
        = form.text_field :name, :size => 30, :class => 'big'
        %em== e.g. Downtown, River North
    .span-15.last.padding-bottom-10
      .span-3.label.block
        %h4.bigger.block.bottom= form.label :street_address, "*Street:"
      .span-12.last
        = form.text_field :street_address, :size => 30, :class => 'big'
        %em== e.g. 123 Main St
    .span-15.last.padding-bottom-10
      .span-3.label.block
        %h4.bigger.block.bottom= form.label :city, "*City:"
      .span-12.last
        = form.text_field :city, :size => 30, :class => 'big'
        %em== e.g. San Francisco
    .span-15.last.padding-bottom-10
      .span-3.pulldown-label.label.block
        %h4.bigger.block.bottom= form.label :state_id, "*State:"
      .span-12.last
        = form.select :state_id, states_for_select(@location.country || Country.us), {:size => 20}, :class => 'big'
    .span-15.last.padding-bottom-10
      .span-3.pulldown-label.label.block
        %h4.bigger.block.bottom= form.label :zip, "Zip:"
      .span-12.last.pulldown-label
        = form.text_field :zip, :size => 7, :class => 'big'
        %em== e.g. 60610
    .span-14.last.padding-bottom-10
      .span-3.pulldown-label.label.block
        %h4.bigger.block.bottom= form.label :country_id, "*Country:"
      .span-4
        = form.select(:country_id, countries_for_select(), {}, :class => 'big')
    .span-14.large.last
      %em== * Required
        
    .span-14.last.padding-top-10
      #submit
        = submit_tag form_submit || 'Submit', :class => 'big'
        == or
        = link_to 'Cancel', edit_company_root_path, :class => 'admin'
        