-# This partial takes the following parameters:
-# horizontal = determines whether to output the address on a single line
-# render_country = should we print out the country

- horizontal = false if local_assigns[:horizontal].nil?
- render_country = false if local_assigns[:render_country].nil?
- render_phone = false if local_assigns[:render_phone].nil?
- render_email = false if local_assigns[:render_email].nil?
- render_notes = false if local_assigns[:render_notes].nil?
- line_break = horizontal ? '' : '<br />'

.address
  = "#{h(location_address.street_address)},#{line_break}" unless location_address.street_address.blank?
  = "#{h(location_address.city.name)}, " unless location_address.city.blank?
  = "#{h(location_address.state.code)}" unless location_address.state.blank?
  = (location_address.zip.blank? ? "" : " #{h(location_address.zip.name)}") + (((render_country == false) || (country_name.blank?) || (location_address.zip.blank? && location_address.state.blank?) ) ? "#{line_break}" : ",#{line_break}" )
  = "#{h(location_address.country.name)} #{line_break}" unless (render_country == false || location_address.country.blank?)
  - if render_phone
    %span
      %span.label Phone:
      %span.phone= "#{h(location_address.phone)} #{line_break}"
  - if render_email
    %span
      %span.label Email:
      %span.email= "#{h(location_address.email)} #{line_break}"
  - if render_notes
    %span
      %span.label Notes:
      %span.notes= "#{h(location_address.notes)} #{line_break}"
