<%
  # This partial uses a number of parameters, as follows:
  # short_locations - short location descriptions
  # show_location_title - show the title of the location (e.g. restaurant name)
  # big_map - show a big or little map initially
  # context_url - the url for the owner of the locations
  # home_location - show a home location, e.g. for a location-based search
  # page_param_name - the page parameter name for will_paginate

  short_locations = true if local_assigns[:short_locations].nil?
  show_location_title = true if local_assigns[:show_location_title].nil?
  big_map = false if local_assigns[:big_map].nil?
  context_url ||= ""
  home_location ||= nil
  page_param_name ||= :locations_page
  with_distance = false if local_assigns[:with_distance].nil?
  may_edit_parent = false if local_assigns[:may_edit_parent].nil?
  locatable = '' if local_assigns[:locatable].nil?
%>

<div id='locations'>
  <div id="addressbox" class="addressbox">
    <% unless locations.nil? %>
      <div class="toppage">
        <%= location_page_info locations %> <br />
        <%= will_paginate locations, :param_name => page_param_name %>
      </div>
      <table class='locations'>
        <% locations.each_with_index do |location, i| -%>
          <tr>
            <%= render :partial => 'locations/location', :object => location,
              :locals => {:with_distance => false, :i => i,
                          :geodist => nil, :show_location_title => show_location_title, :context_url => context_url,
                          :short_locations => short_locations, :may_edit_parent => may_edit_parent, :locatable => locatable}  %>
          </tr>
        <% end %>
      </table>
    <% end %>
    <div class="bottompage">
      <%= will_paginate locations, :param_name => page_param_name %>
    </div>
    <div class="bottompage">
      <% if may_edit_parent %>
        <%= link_to_remote "Add an address", 
                { :url => context_url + new_location_path, :method => :get, 
                  :html => {:class => 'add_address'}},
                :href => context_url + new_location_path -%>
      <% end %>
    </div>
  </div>
</div>
