- if location
  %div[location]
    .span-8.location_text
      - if show_location_title && !location.name.blank?
        %h3.bottom= location_title_renderer(location)
      - if short_locations
        = render :partial => 'locations/short_location', :object => location
      - else
        = render :partial => 'locations/location_address', :object => location, :locals => {:horizontal => true}
    .span-11.last.editdelete
      - if has_privilege?("update companies", current_company)
        = link_to "Edit", edit_location_path(location), :class => 'edit_address' 
        = link_to "Delete", location_path(location), :method => :delete, :confirm => "Are you sure you want to delete this location"
