!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", 'xml:lang' => "en", :lang => "en"}
  %head
    %meta{'http-equiv' => "content-type", :content => "text/html;charset=UTF-8"}
    %title== Admin Console: #{controller.action_name}
    = stylesheet_link_tag 'scaffold'
    = stylesheet_link_tag 'peanut'
    = stylesheet_link_tag 'errors'
    = stylesheet_link_tag 'yellow'
    = javascript_include_tag :defaults
    = yield :stylesheets
    
  %body
    #header
      %h1== Admin Console
      #tabs
        %ul
          %li.with_space
            = link_to 'Companies', companies_path
            = link_to 'Customers', customers_path

    %p{:style => "color: green"}
      = flash[:notice]

    .wrapper
      = yield
  