!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", 'xml:lang' => "en", :lang => "en"}
  %head
    %meta{'http-equiv' => "content-type", :content => "text/html;charset=UTF-8"}
    %title== Admin Console: #{controller.action_name}
    = stylesheet_link_tag 'blueprint/screen'
    = stylesheet_link_tag 'peanut'
    = stylesheet_link_tag 'errors'
    = stylesheet_link_tag 'yellow'
    = yield :stylesheet
    = javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery?
    = javascript_include_tag 'jquery', 'jquery.selectboxes', 'application'
    = yield :javascript
    
  %body
    #header
      .container
        .span-21
          .login_info
            = render :partial => 'users/user_bar'
          %h1== Admin Console
        #tabs
          .span-21
            %ul
              %li.with_space
                = link_to 'Companies', companies_path
              - if has_privilege?('create roles privileges') || has_privilege?('read roles privileges') || has_privilege?('update roles privileges') || has_privilege?('delete roles privileges')
                %li.with_space
                  = link_to 'Privileges & Roles', admin_badges_path

    .container
      = yield
  
