!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", 'xml:lang' => "en", :lang => "en"}
  %head
    %meta{'http-equiv' => "content-type", :content => "text/html;charset=UTF-8"}
    %title
      = "#{current_company.name} -"
      = yield :title
    %meta{:name => 'robots', :content => 'nofollow, noindex'}
    = stylesheet_link_tag 'blueprint/screen', 'peanut', 'errors', 'green'
    = yield :stylesheet
    = javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery?
    = javascript_include_tag 'jquery', 'jquery.selectboxes', 'jquery.validate', 'jquery.corners', 'application'
    = yield :javascript
    
  %body
    #header
      .container
        .span-24.last
          .span-7{:id => "locations_count_#{current_locations.size}"}
            - if current_locations.size > 1
              = select_tag('location_id', options_for_select(build_company_location_select_options, current_location.id), :class => 'locations')
            - else
              - # no locations, fill div with something
              .empty== &nbsp;
              
          .span-6.prepend-11.last{:style => 'color: #DDDDDD; text-align: right;'}
            = render :partial => 'users/user_links.html.haml'
            
        .span-24.last
          .span-19
            %h2#company_name{:style => 'color: #FFFFFF;'}
              = current_company.name
          .span-5.last.text-align-right
            - if logged_in?
              = render(:partial => 'users/user_whoami.html.haml')
              
        .span-24#tabs
          .span-21
            %ul
            - build_tab_links(controller) do |tab|
              %li.with_space= tab
              
          .span-3.last.text-align-right
            %ul
            - build_admin_tab_links do |tab|
              %li= tab
            
    - if RAILS_ENV == 'development'
      .container.showgrid
        = yield
    - else
      .container
        = yield
