!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", 'xml:lang' => "en", :lang => "en"}
  %head
    %meta{'http-equiv' => "content-type", :content => "text/html;charset=UTF-8"}
    %title
      = "#{@current_company.name} -"
      = yield :title
    %meta{:name => 'robots', :content => 'nofollow, noindex'}
    = stylesheet_link_tag 'blueprint/screen'
    = stylesheet_link_tag 'peanut'
    = stylesheet_link_tag 'errors'
    = stylesheet_link_tag 'green'
    = yield :stylesheet
    = javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery?
    = javascript_include_tag 'jquery', 'jquery.selectboxes', 'jquery.validate', 'application'
    = yield :javascript
    
  %body
    #header
      .container
        .span-24.last
          .span-7
            - if @current_company.locations.size > 1
              -# allow user to change the current location
              %ul#location_switcher
                %li
                  #location_switcher_link= link_to 'Change Location', '', :class => 'admin header'
                  %ul
                    - build_location_links(@current_company, @current_location) do |name, link, is_last|
                      = link_to name, link, :class => 'admin header'
                      = "&nbsp;|&nbsp;" unless is_last
              
          .span-6.prepend-11.last{:style => 'color: #DDDDDD; text-align: right;'}
            = render :partial => 'users/user_links.html.haml'
        .span-5.prepend-19.last{:style => 'color: #DDDDDD; text-align: right;'}
          - if logged_in?
            %em{:style => 'font-size: 12px; color: #CC9900;'}== Logged in as #{current_user.email}
            
            
        .span-24.last
          %h2#company_name{:style => 'color: #FFFFFF;'}
            -# show company name; include location name if its appropriate
            - name  = @current_company.name
            - name += " - #{@current_location.name}" unless @current_company.locations.empty?
            = name
            
        .span-24#tabs
          .span-21
            %ul
            - build_tab_links(controller) do |tab|
              %li.with_space= tab
              
          - if has_privilege?('create company')
            .span-3.last
              %ul
                %li
                  = link_to 'Admin Console', companies_path(:subdomain => nil)
            
    -#%p{:style => "color: green"}
      -#= flash[:notice]
    -#%p{:style => "color: red"}
      -#= flash[:error]

    - if RAILS_ENV == 'development'
      .container.showgrid
        = yield
    - else
      .container
        = yield
