!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", 'xml:lang' => "en", :lang => "en"}
  %head
    %meta{'http-equiv' => "content-type", :content => "text/html;charset=UTF-8"}
    %title
      = "#{current_company.name} -"
      = yield :title
    %meta{:name => 'robots', :content => 'nofollow, noindex'}
    = stylesheet_link_tag 'blueprint/screen', :media=>"screen, projection"
    = stylesheet_link_tag 'blueprint/print', :media =>"print"
    <!--[if IE]>
    = stylesheet_link_tag 'blueprint/ie', :media =>"screen, projection"
    <![endif]-->
    = stylesheet_link_tag 'peanut', 'errors', 'green', 'jquery.ui'
    = stylesheet_link_tag 'peanut_print', :media => "print"
    = yield :stylesheet
    = javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery?
    = javascript_include_tag 'jquery', 'jquery.ui', 'jquery.selectboxes', 'jquery.validate', 'jquery.corners', 'date', 'jquery.autocomplete', 'jquery.bgiframe', 'application'
    = yield :javascript
    
    / Pull in the TinyMCE support if required
    / Implementation is based on the comments at the end of this page:
    / http://wiki.rubyonrails.org/rails/pages/HowToUseTinyMCE
    / Note that I do _not_ use the TinyMCE plugin
    / 
    / To use TinyMCE for text areas on a view page, just do:
    /   use_tiny_mce
    / at the top of the view file, and add the class tiny-mce-editor to your text_areas
    /   f.text_area :excerpt, :size => '50x5', :class => "tiny-mce-editor"
    = yield :tiny_mce    
    
  %body
    #header
      .container
        .span-24.last
          .span-10.prepend-14.last{:style => 'color: #DDDDDD; text-align: right;'}
            = render :partial => 'users/user_links.html.haml'
            
        .span-24.last
          .span-19
            .company_title.span-19.last
            / The company edit page builds a new logo, so we check for the url here also
            - if current_company.logo && current_company.logo.id
              .company_logo.append-1
                = link_to image_tag(current_company.logo.image.url), root_path(:subdomain => current_subdomain)
            .company_name.last
              = link_to current_company.name, root_path(:subdomain => current_subdomain)
            .slogan.last
              %h3= h current_company.slogan unless current_company.slogan.blank?
          .span-5.last.text-align-right
            - if logged_in?
              = render(:partial => 'users/user_whoami.html.haml')
              
        .span-24#tabs
          .span-21
            %ul
            - build_tab_links(controller) do |tab|
              %li.with_space= tab
              
          .span-3.last.text-align-right
            %ul
            - build_admin_tab_links do |tab|
              %li= tab
            
    .container{:class => $BlueprintGrid ? 'showgrid' : ''}
      .span-14.prepend-1.last
        = display_flash
      = yield
