!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", 'xml:lang' => "en", :lang => "en"}
  %head
    %meta{'http-equiv' => "content-type", :content => "text/html;charset=UTF-8"}
    %title== Appointments: #{controller.action_name}
    = stylesheet_link_tag 'peanut'
    = stylesheet_link_tag 'errors'
    = stylesheet_link_tag 'green'
    = yield :head
    = javascript_include_tag :defaults

  %body
    #header
      %h1= @current_company.name
      #tabs
        %ul
          %li.right
            = link_to 'Admin Console', companies_path(:subdomain => nil)
          - build_tab_links(controller) do |link|
            %li.with_space= link
            
    %p{:style => "color: green"}
      = flash[:notice]
    %p{:style => "color: red"}
      = flash[:error]

    .wrapper
      = yield
  
  