!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", 'xml:lang' => "en", :lang => "en"}
  %head
    %meta{'http-equiv' => "content-type", :content => "text/html;charset=UTF-8"}
    %title
      = yield :title
      == | Peanut Calendar
    %meta{:name => 'robots', :content => 'nofollow, noindex'}
    = stylesheet_link_tag 'blueprint/screen', 'peanut', 'errors', 'orange'
    = yield :stylesheet
    = javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery?
    = javascript_include_tag 'jquery', 'jquery.selectboxes', 'jquery.validate', 'jquery.corners', 'date', 'jquery.autocomplete', 'jquery.bgiframe', 'jquery.datePicker', 'application'
    = yield :javascript
    
  %body
    #header
      .container
        .span-24
          .span-12
            %h2= yield :title
          .span-12.last.admin.text-align-right
            = render :partial => 'shared/signup_bar'
        .span-24
          .span-5.prepend-19.last.text-align-right
            - if logged_in?
              = render(:partial => 'users/user_whoami.html.haml')
          
    .container{:class => $BlueprintGrid ? 'showgrid' : ''}
      .span-14.prepend-1.last
        = display_flash
      = yield
  
