!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", 'xml:lang' => "en", :lang => "en"}
  %head
    %meta{'http-equiv' => "content-type", :content => "text/html;charset=UTF-8"}
    %title
      = yield :title
      == | Walnut Calendar
    %meta{:name => 'robots', :content => 'nofollow, noindex'}
    = stylesheet_link_tag 'blueprint/screen', 'peanut', 'errors', 'black', 'jquery.ui', 'tabs'
    = yield :stylesheet
    = javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery?
    = javascript_include_tag 'jquery', 'jquery.ui', 'jquery.selectboxes', 'jquery.validate', 'jquery.corners', 'date', 'jquery.autocomplete', 'jquery.bgiframe', 'application', 'tabs'
    = yield :javascript
    
  %body
    #header
      .container
        .span-24
          .span-12
            %h2#title= yield :title
          .span-12.last.admin.text-align-right
            = render :partial => 'shared/signup_bar'
        .span-24
          .span-5.prepend-19.last.text-align-right
            - if logged_in?
              = render(:partial => 'users/user_whoami.html.haml')

      .container
        .span-24
          .span-5#tabs
            %ul
              %li#signup= link_to 'Signup', signup_path, :id => 'signup', :url => signup_path
              - if has_privilege?('manage site')
                %li#companies= link_to 'Companies', companies_path, :id => 'companies', :url => companies_path

    .container{:class => $BlueprintGrid ? 'showgrid' : ''}
      .span-14.prepend-1.last
        = display_flash
      = yield

